.footer {
	z-index: 2;
	position: relative;
	flex: 0 0 auto;
	min-width: 375px;
	background-color: var(--blue10-color);
	color: var(--white-color);

	&-main {
		display: flex;
		flex-wrap: wrap;
		gap: 32px 24px;
		padding-top: 24px;
		padding-bottom: 32px;
	}
	&-bottom {
		display: flex;
		flex-wrap: wrap;
		gap: 6px 24px;
		padding-top: 16px;
		padding-bottom: 24px;
		border-top: 1px solid rgba(146,146,146,0.2);
	}
	&__item {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 16px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		flex: 1;

		li {
			margin-bottom: 4px;
		}
	}
	&__link {
		display: inline-flex;

		&:not(a, button) {
			cursor: default;
		}
	}
	&-contacts {
		gap: 24px;

		&__item {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		&__connection {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;

			&-item {
				display: inline-flex;
				align-items: center;
				gap: 8px;

				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
					fill: var(--white-color);
					stroke: var(--white-color);
				}
			}
		}
	}
	&__copyright,
	&__info {
		color: var(--gray10-color);
	}
	&__legal-policy {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}
	&__info {
		min-width: 100%;
		width: 100%;
	}
}
@media (min-width: 576px) {
	.footer {
		&-main {
			.footer__item {
				min-width: 176px;

				&.footer-catalog {
					flex: 2;
					min-width: 376px;
				}
			}
		}
		&-catalog {
			.footer__list {
				display: block;
				column-count: 2;
				column-gap: 24px;

				li {
					break-inside: avoid;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.footer {
		&-main {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		&-bottom {
			gap: 32px 24px;
			padding-top: 32px;
			padding-bottom: 32px;
		}
		&__item {
			gap: 20px;
		}
		&-contacts {
			gap: 48px;
		}
		&__legal-policy {
			gap: 24px;
		}
	}
}
@media (max-width: 991.98px) {
	.footer {
		&-bottom {
			flex-direction: column;
		}
		&__copyright {
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
		&__legal-policy {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
@media (max-width: 575.98px) {
	.footer {
		&-main {
			.footer__item {
				min-width: 100%;
				width: 100%;
			}
		}
	}
}
