@font-face {
	font-family: 'Nunito Sans', sans-serif;
	src: url('../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf');
	src: local('../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght'),
	url('../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}