* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
	scroll-behavior: smooth;
}
html,
body {
	font-size: 14px;
	line-height: 1.3;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-family-base);
	background-color: var(--white-color);
	color: var(--text-primary);
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
	width: 100%;
	padding-right: var(--container-offset);
	padding-left: var(--container-offset);
	margin-right: auto;
	margin-left: auto;
}
.container-fluid {
	max-width: 1920px;
}
.container {
	max-width: var(--container-width);
}

.flex {
	&,
	&-start-start,
	&-start-center,
	&-start-end,
	&-center-start,
	&-center-center,
	&-center-end,
	&-end-start,
	&-end-center,
	&-end-end {
		display: flex;
	}

	&-inline {
		display: inline-flex;
	}

	&-start-start {
		justify-content: flex-start;
		align-items: flex-start;
	}
	&-start-center {
		justify-content: flex-start;
		align-items: center;
	}
	&-start-end {
		justify-content: flex-start;
		align-items: flex-end;
	}

	&-center-start {
		justify-content: center;
		align-items: flex-start;
	}
	&-center-center {
		justify-content: center;
		align-items: center;
	}
	&-center-end {
		justify-content: center;
		align-items: flex-end;
	}

	&-end-start {
		justify-content: flex-end;
		align-items: flex-start;
	}
	&-end-center {
		justify-content: flex-end;
		align-items: center;
	}
	&-end-end {
		justify-content: flex-end;
		align-items: flex-end;
	}

	&-around-start {
		justify-content: space-around;
		align-items: flex-start;
	}
	&-around-center {
		justify-content: space-around;
		align-items: center;
	}
	&-around-end {
		justify-content: space-around;
		align-items: flex-end;
	}

	&-between-start {
		justify-content: space-between;
		align-items: flex-start;
	}
	&-between-center {
		justify-content: space-between;
		align-items: center;
	}
	&-between-end {
		justify-content: space-between;
		align-items: flex-end;
	}

	&-evenly-start {
		justify-content: space-evenly;
		align-items: flex-start;
	}
	&-evenly-center {
		justify-content: space-evenly;
		align-items: center;
	}
	&-evenly-end {
		justify-content: space-evenly;
		align-items: flex-end;
	}
}
.grow {
	&-1 {
		flex-grow: 1;
	}
	&-2 {
		flex-grow: 2;
	}
}

.w-100 {
	min-width: 100%!important;
	width: 100%!important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: var(--text-primary);
	font-weight: 900;
	line-height: 1.2;
}
.dark-bg {
	color: var(--white-color);

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		color: var(--white-color);
	}
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	font-size: 16px;
}
h5, .h5 {
	font-size: 14px;
}
h6, .h6 {
	font-size: 12px;
}
@media (min-width: 1200px) {
	h1, .h1 {
		font-size: 36px;
	}
	h2, .h2,
	h3, .h3 {
		font-size: 24px;
	}
	h4, .h4 {
		font-size: 18px;
	}
}
@media (min-width: 670px) and (max-width: 1199px) {
	h1, .h1,
	h2, .h2,
	h3, .h3 {
		font-size: 22px;
	}
}

.text-center {
	text-align: center;
}
.text-uppercase {
	text-transform: uppercase;
}

.fw-normal {
	font-weight: 400;
}
.fw-medium {
	font-weight: 500;
}
.fw-semibold {
	font-weight: 600;
}
.fw-bold {
	font-weight: 700;
}

.fz-subheading {
	font-size: 15px;
}
.fz-lg {
	font-size: 14px;
}
.fz-md {
	font-size: 13px;
}
.fz-caption {
	font-size: 12px;
}
.fz-caption-sm {
	font-size: 11px;
}
.fz-caption-xs {
	font-size: 10px;
}
@media (min-width: 960px) {
	.fz-subheading {
		font-size: 16px;
	}
	.fz-lg {
		font-size: 15px;
	}
	.fz-md {
		font-size: 14px;
	}
	.fz-caption {
		font-size: 13px;
	}
	.fz-caption-sm {
		font-size: 12px;
	}
	.fz-caption-xs {
		font-size: 11px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);

	&:hover,
	&:focus {
		color: #23527c;
		text-decoration: underline;
	}
}

picture {
	display: flex;

	&,
	img {
		min-width: 100%;
		width: 100%;
	}
}
img {
	max-width: 100%;
	object-fit: cover;
	overflow: hidden;
	user-select: none;
}
svg {
	max-width: 100%;
	max-height: 100%;
}
.icon {
	min-width: 20px;
	width: 20px;
	min-height: 20px;
	height: 20px;
	user-select: none;
	transition: var(--transition);

	&-xs {
		min-width: 16px!important;
		width: 16px!important;
		min-height: 16px!important;
		height: 16px!important;
	}
	&-sm {
		min-width: 20px!important;
		width: 20px!important;
		min-height: 20px!important;
		height: 20px!important;
	}
	&-md {
		min-width: 24px!important;
		width: 24px!important;
		min-height: 24px!important;
		height: 24px!important;
	}
	&-lg {
		min-width: 32px!important;
		width: 32px!important;
		min-height: 32px!important;
		height: 32px!important;
	}
	&-xl {
		min-width: 40px!important;
		width: 40px!important;
		min-height: 40px!important;
		height: 40px!important;
	}

	&-fill {
		stroke: none!important;
	}
	&-stroke {
		fill: none!important;
	}
}

p,
ul,
ol {
	margin-top: 0;

	&:not(:last-child) {
		margin-bottom: 16px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
@media (min-width: 960px) {
	p {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
}

ul, ol {
	padding-left: 24px;
	line-height: 1.5;
}

body:not(.is-using-mouse) {
	.fancybox {
		&__container {
			.carousel__button:focus {
				box-shadow: none;
			}
		}
	}
}
.fancybox {
	&__html5video {
		outline: none;
	}
}

.logo {
	display: flex;
	align-items: center;
}

.dis-scroll {
	overflow: hidden;
	overscroll-behavior: none;
}

.overflow-hidden {
	overflow: hidden !important;
}

.is-hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.pre-hidden {
	animation: pre-hidden 1s;
}
@keyframes pre-hidden {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.overlay,
.overlay-transparent {
	z-index: 2000;
	position: fixed;
	cursor: pointer;

	&::before {
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.overlay {
	&::before {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
.overlay-transparent {
	&::before {
		background-color: transparent;
	}
}

.no-line-break {
	white-space: nowrap!important;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}
.btn-g {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
}
.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	min-height: 44px;
	height: 44px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid var(--red10-color);
	border-radius: var(--bradius);
	background-color: var(--red10-color);
	color: var(--white-color);
	font-family: var(--font-family-base);
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	cursor: pointer;
	transition: var(--transition);

	.icon,
	.text-content {
		pointer-events: none;
		user-select: none;
	}
	.icon {
		fill: var(--white-color);
		stroke: var(--white-color);
	}
	.text-content {
		white-space: nowrap;
	}

	&:hover,
	&.active {
		border-color: var(--red0-color);
		background-color: var(--red0-color);
		color: var(--white-color);
		text-decoration: none;
	}

	&.disabled,
	&:disabled {
		opacity: 0.5 !important;
		cursor: not-allowed !important;
	}

	&-sm {
		min-height: 36px;
		height: 36px;
	}

	&-primary {
		border-color: var(--red10-color);
		background-color: var(--red10-color);
		color: var(--white-color);

		.icon {
			fill: var(--white-color);
			stroke: var(--white-color);
		}

		&:hover,
		&.active {
			border-color: var(--red0-color);
			background-color: var(--red0-color);
			color: var(--white-color);
		}
	}
	&-secondary {
		border-color: var(--blue05-color);
		background-color: var(--blue05-color);
		color: var(--white-color);

		.icon {
			fill: var(--white-color);
			stroke: var(--white-color);
		}

		&:hover,
		&.active {
			border-color: var(--blue15-color);
			background-color: var(--blue15-color);
			color: var(--white-color);
		}
	}
	&-extra {
		border-color: var(--gray10-color);
		background-color: var(--white-color);
		color: var(--gray20-color);

		.icon {
			fill: var(--gray20-color);
			stroke: var(--gray20-color);
		}

		&:hover,
		&.active {
			border-color: var(--text-primary);
			background-color: var(--white-color);
			color: var(--gray20-color);
		}
	}
	&-extra-primary {
		border-color: rgba(0, 0, 0, 0.1);
		background-color: var(--white-color);
		color: var(--text-primary);

		.icon {
			fill: var(--text-primary);
			stroke: var(--text-primary);
		}

		&:hover,
		&.active {
			border-color: var(--blue15-color);
			background-color: var(--blue15-color);
			color: var(--white-color);

			.icon {
				fill: var(--white-color);
				stroke: var(--white-color);
			}
		}
	}
	&-extra-secondary {
		border-color: #F6F6F6;
		background-color: #F6F6F6;
		color: rgba(51, 51, 61, 0.6);

		.icon {
			fill: rgba(51, 51, 61, 0.6);
			stroke: rgba(51, 51, 61, 0.6);
		}

		&:hover,
		&.active {
			border-color: var(--blue15-color);
			background-color: var(--blue15-color);
			color: var(--white-color);

			.icon {
				fill: var(--white-color);
				stroke: var(--white-color);
			}
		}
	}
	&-ghost {
		border-color: var(--gray10-color);
		background-color: transparent;
		color: var(--gray20-color);

		.icon {
			fill: var(--gray20-color);
			stroke: var(--gray20-color);
		}

		&:hover,
		&.active {
			border-color: rgba(102, 102, 102, 0.1);
			background-color: rgba(102, 102, 102, 0.1);
			color: var(--text-primary);

			.icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
	}
	&-icon {
		min-width: 44px;
		width: 44px;
		padding-right: unset;
		padding-left: unset;
		border-color: var(--white-color);
		background-color: var(--white-color);
		box-shadow: var(--shadow-float0), var(--shadow-float1);
		color: transparent;

		.icon {
			fill: var(--gray20-color);
			stroke: var(--gray20-color);
		}

		&.active {
			border-color: var(--gray0-color);
			background-color: var(--gray0-color);
			box-shadow: var(--shadow-float0), var(--shadow-float1);
			color: transparent;
		}
		&:hover {
			border-color: var(--gray0-color);
			background-color: var(--gray0-color);
			box-shadow: var(--shadow-float0), var(--shadow-float1);
			color: transparent;

			.icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
		&.active,
		&.active:hover {
			.icon {
				fill: var(--red0-color);
				stroke: var(--red0-color);
			}
		}

		&:not(.btn-icon-switch) {
			.icon {
				&:not(:first-child) {
					display: none;
				}
			}
			.text-content {
				display: none;
			}
		}

		&-switch {
			color: var(--gray20-color);

			.icon {
				&-selected {
					display: none;
				}
			}
			.text-content {
				padding-top: 1px;

				&-selected {
					display: none;
				}
			}

			&:hover,
			&.active {
				.icon {
					&-default {
						display: none;
					}
					&-selected {
						display: block;
					}
				}
				.text-content {
					&-default {
						display: none;
					}
					&-selected {
						display: block;
					}
				}
			}
			&.active {
				color: var(--red0-color);
			}
		}

		&.btn-sm {
			min-width: 36px;
			width: 36px;
		}
	}
}

.link {
	color: var(--text-primary);

	.icon {
		fill: var(--text-primary);
		stroke: var(--text-primary);
	}
	&:visited,
	&:focus,
	&:hover,
	&:active {
		color: var(--red0-color);

		.icon {
			fill: var(--red0-color);
			stroke: var(--red0-color);
		}
	}

	&-secondary {
		color: var(--text-secondary);

		.icon {
			fill: var(--text-secondary);
			stroke: var(--text-secondary);
		}
		&:visited,
		&:focus,
		&:hover,
		&:active {
			color: var(--text-primary);

			.icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
	}
	&-brand {
		color: var(--blue20-color);
		text-decoration: underline;
		text-decoration-style: dashed;
		text-underline-offset: 4px;

		.icon {
			fill: var(--blue20-color);
			stroke: var(--blue20-color);
		}
		&:visited,
		&:focus,
		&:hover,
		&:active {
			color: var(--red0-color);
			text-decoration-color: var(--red0-color);

			.icon {
				fill: var(--red0-color);
				stroke: var(--red0-color);
			}
		}
	}
	&-invert {
		color: var(--white-color);

		.icon {
			fill: var(--white-color);
			stroke: var(--white-color);
		}
		&:visited,
		&:focus,
		&:hover,
		&:active {
			color: var(--gray10-color);

			.icon {
				fill: var(--gray10-color);
				stroke: var(--gray10-color);
			}
		}
	}

	&-tdu {
		text-decoration: underline;
		text-decoration-style: solid;
		text-underline-offset: 4px;

		&--native {
			text-underline-offset: 1px;
		}
		&--dashed {
			text-decoration-style: dashed;
		}
		&-text {
			text-decoration: none;
			text-decoration-style: unset;
			text-underline-offset: unset;

			.text-content {
				text-decoration: underline;
				text-decoration-style: solid;
				text-underline-offset: 4px;
				text-decoration-color: var(--gray10-color);
			}

			&:hover {
				.text-content {
					text-decoration: none;
					text-decoration-style: unset;
					text-underline-offset: unset;
				}
			}

			&.link {
				.text-content {
					text-decoration-color: var(--text-primary);
				}
			}
			&.link-secondary {
				.text-content {
					text-decoration-color: var(--text-secondary);
				}
			}
			&.link-brand {
				.text-content {
					text-decoration-color: var(--blue20-color);
				}
			}
			&.link-invert {
				.text-content {
					text-decoration-color: var(--white-color);
				}
			}
		}

		&:hover {
			text-decoration: none;
			text-decoration-style: unset;
			text-underline-offset: unset;
		}
	}

	&-flex {
		display: inline-flex;
		gap: 8px;
	}
}

.list {
	&-reset {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.input-reset {
	padding: 0;
	overflow: hidden;
	border: none;
	border-radius: 0;
	background-color: #fff;
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}
input:disabled,
input.disabled {
	cursor: not-allowed !important;
}

.c-pointer {
	cursor: pointer !important;
}

@media (min-width: 960px) {
	.gap {
		&-xxxs {
			margin-bottom: 8px !important;
		}
		&-xxs {
			margin-bottom: 12px !important;
		}
		&-xs {
			margin-bottom: 16px !important;
		}
		&-sm {
			margin-bottom: 20px !important;
		}
		&-sm-plus {
			margin-bottom: 24px !important;
		}
		&-md {
			margin-bottom: 32px !important;
		}
		&-md-plus,
		&-lg {
			margin-bottom: 40px !important;
		}
		&-lg-plus {
			margin-bottom: 48px !important;
		}
		&-xl {
			margin-bottom: 60px !important;
		}
	}

	.mobile-only {
		display: none !important;
	}
}
@media (max-width: 959px) {
	.gap {
		&-xxxs {
			margin-bottom: 8px !important;
		}
		&-xxs,
		&-xs,
		&-sm {
			margin-bottom: 12px !important;
		}
		&-sm-plus,
		&-md,
		&-md-plus {
			margin-bottom: 16px !important;
		}
		&-lg,
		&-lg-plus,
		&-xl {
			margin-bottom: 24px !important;
		}
	}

	.desktop-only {
		display: none !important;
	}
}

@media (min-width: 960px) {
	.block {
		padding-top: 60px;
		padding-bottom: 60px;

		&-top {
			padding-top: 60px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 60px;
		}

		&-sm {
			padding-top: 32px;
			padding-bottom: 32px;

			&.block-top {
				padding-top: 32px;
				padding-bottom: unset;
			}
			&.block-bottom {
				padding-top: unset;
				padding-bottom: 32px;
			}
		}

		&--mobile {
			&,
			.block-top,
			.block-bottom {
				padding-top: unset;
				padding-bottom: unset;
			}
		}
	}
}
@media (max-width: 959px) {
	.block {
		padding-top: 24px;
		padding-bottom: 24px;

		&-top {
			padding-top: 24px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 24px;
		}

		&-sm {
			padding-top: 12px;
			padding-bottom: 12px;

			&.block-top {
				padding-top: 12px;
				padding-bottom: unset;
			}
			&.block-bottom {
				padding-top: unset;
				padding-bottom: 12px;
			}
		}

		&--desktop {
			&,
			.block-top,
			.block-bottom {
				padding-top: unset;
				padding-bottom: unset;
			}
		}
	}
}

.nav-breadcrumbs {
	display: flex;
	align-items: center;
	gap: 4px;

	&__item {
		display: inline-flex;
	}
	&__link {
		position: relative;
		display: inline-flex;
		align-items: center;
		gap: 2px;
		padding-right: 8px;
		color: var(--gray30-color);
		font-size: 12px;
		line-height: 16px;

		&:not(:last-child) {
			&::before {
				content: '/';
				z-index: 1;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				color: var(--gray30-color);
			}
		}
	}
	a.nav-breadcrumbs__link {
		&:focus,
		&.active {
			color: #23527c;
			text-decoration: underline;
		}
	}
	span.nav-breadcrumbs__link {
		cursor: default;
	}
}
@media (min-width: 960px) {
	.nav-breadcrumbs {
		a.nav-breadcrumbs__link {
			&:hover {
				color: #23527c;
				text-decoration: underline;
			}
		}
	}
}

.pagination-wrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}
.pagination {
	display: flex;
	align-items: center;
	gap: 4px;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		border-radius: 4px;
		background-color: var(--white-color);
		color: var(--text-primary);
		line-height: 20px;
		cursor: pointer;
		transition: var(--transition);

		&:hover,
		&.active {
			background-color: var(--gray1-color);
		}
	}
}
@media (min-width: 960px) {
	.pagination-wrapper {
		gap: 32px;
	}
}
@media (max-width: 959px) {
	.pagination {
		margin: 0 auto;
	}
}

.custom-checkbox,
.custom-radio {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	line-height: 1;
	cursor: default;

	&__input {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 20px;
		width: 20px;
		min-height: 20px;
		height: 20px;
		margin: 0;
		border: 1px solid var(--gray21-color);
		background-color: transparent;
		appearance: none;
		transition: var(--transition);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
			transition: var(--transition);
		}
		&:checked,
		&.checked {
			&::before {
				opacity: 1;
			}
		}
		&:not(:disabled),
		&:not(.disabled) {
			cursor: pointer;

			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--text-primary);
			}
			& ~ .custom-checkbox__brand .icon,
			& ~ .custom-radio__brand .icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
		&:disabled,
		&.disabled {
			cursor: not-allowed;

			&,
			&:hover {
				border-color: var(--gray1-color);
				background-color: var(--gray1-color);
			}
			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--text-caption);
				user-select: none;
			}
		}
	}
	&__label-for {
		display: inline-flex;
		flex: 1;
		align-items: center;
		gap: 12px;
		line-height: 20px;
	}
}
.custom-checkbox {
	&__input {
		border-radius: 4px;

		&:checked {
			&,
			&:hover {
				background-color: var(--green0-color);
			}
		}
	}
	&__input::before {
		min-width: 11px;
		width: 11px;
		min-height: 11px;
		height: 11px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
	}
	&__input--checkline::before {
		min-height: 2px;
		height: 2px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IiNFOEVBRUIiLz4KPC9zdmc+Cg==");
	}
	&__input--checkline:checked:disabled::before,
	&__input--checkline:checked.disabled::before {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0iI0U4RUFFQiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
	}
}
.custom-radio {
	&__input {
		border-radius: 50%;
	}
	&__input::before {
		min-width: 8px;
		width: 8px;
		min-height: 8px;
		height: 8px;
		border-radius: 50%;
		background-image: none;
		background: var(--green0-color);
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background: none;
	}
}
.checkbox-group {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.titled-input {
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-width: 100%;
	width: 100%;
}
.input-wrapper {
	position: relative;
	min-width: 100%;

	&-flex {
		display: flex;
	}
	&-split {
		display: flex;
		gap: 4px;

		.input {
			flex: 1;
		}
	}
	&-search {
		.input {
			padding-right: 88px;

			&-search-btn {
				position: absolute;
				top: 7px;
				right: 7px;
				min-width: 32px;
				width: 32px;
				min-height: 32px;
				height: 32px;
				border-color: var(--blue15-color);
				background-color: var(--blue15-color);

				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
					fill: var(--white-color);
					stroke: var(--white-color);
				}

				&:hover,
				&:focus,
				&.active {
					border-color: var(--gray30-color);
					background-color: var(--gray30-color);
				}
			}
			&-rec-btn,
			&-delete-btn {
				right: 48px;
			}
		}
	}
	&.has-icon-r {
		.input {
			padding-right: 44px;

			&-icon {

				&-r {
					right: 2px;
				}
			}
		}
	}
	&.has-icon-l {
		.input {
			padding-left: 44px;

			&-icon {
				&-l {
					left: 2px;
				}
			}
		}
	}
}
.input {
	width: 100%;
	min-height: 48px;
	height: 48px;
	padding: 9px 15px;
	border: 1px solid var(--text-secondary);
	border-radius: var(--bradius);
	background-color: var(--white-color);
	color: var(--text-primary);
	font-size: 14px;
	line-height: 24px;

	&::placeholder {
		color: rgba(51, 51, 51, 0.6);
	}

	&-title {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	&-icon {
		z-index: 1;
		position: absolute;
		top: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		cursor: default;

		.icon {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
			fill: var(--gray20-color);
			stroke: var(--gray20-color);
			pointer-events: none;
			user-select: none;
		}
		&-select {
			.icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
		&-btn {
			position: absolute;
			top: 4px;
			right: 0;
			bottom: 0;
			min-width: 36px;
			width: 36px;
			min-height: 36px;
			height: 36px;
			cursor: pointer;

			.icon {
				fill: var(--gray20-color);
				stroke: var(--gray20-color);
			}
			&:not(.show) {
				.icon-show {
					display: none;
				}
			}
			&.show {
				.icon-default {
					display: none;
				}
			}
		}

		&:not(.active) {
			.icon-active {
				display: none;
			}
		}
		&.active {
			.icon-default {
				display: none;
			}
		}
	}

	&-delete-btn {
		position: absolute;
		top: 5px;
		right: 7px;
		min-width: 32px;
		width: 32px;
		min-height: 32px;
		height: 32px;
		padding: unset;
		border-color: transparent;
		background-color: var(--gray0-color);

		.icon {
			fill: var(--text-primary);
			stroke: var(--text-primary);
		}

		&:hover {
			border-color: transparent;
			background-color: transparent;
		}
	}

	&-rec-btn {
		position: absolute;
		top: 7px;
		right: 42px;
		min-width: 32px;
		width: 32px;
		min-height: 32px;
		height: 32px;
		padding: unset;
		border-color: transparent;
		background-color: transparent;

		.icon {
			fill: var(--text-primary);
			stroke: var(--text-primary);
		}

		&:hover {
			border-color: transparent;
			background-color: transparent;
		}
	}

	&:not(.has-data) {
		& ~ .input-delete-btn {
			opacity: 0;
			pointer-events: none;
			user-select: none;
		}
	}

	@at-root {
	    textarea#{&} {
			height: auto;
			resize: none;
	    }
	}

	&:hover,
	&:focus,
	&.active {
		border-color: var(--blue10-color);
		background-color: var(--white-color);
	}
}
@media (min-width: 960px) {
	.input {
		&-error-label {
			font-size: 13px;
		}
	}
}

.swiper-navigation {
	position: absolute;
	top: 50%;
	right: 16px;
	left: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 44px;
	height: 44px;
	margin-top: -22px;

	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: 0;
		min-width: 44px;
		width: 44px;
		min-height: 44px;
		height: 44px;
		margin-top: unset;
		border: 1px solid var(--white-color);
		box-shadow: var(--shadow-float0), var(--shadow-float1);
		background-color: var(--white-color);
		color: transparent;
		transition: var(--transition);

		&::before,
		&::after {
			content: none;
		}
		&.swiper-button-lock {
			opacity: 0;
			display: none;
		}

		.icon {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
			fill: var(--gray20-color);
			stroke: var(--gray20-color);
			pointer-events: none;
			user-select: none;

			&:not(:first-child) {
				display: none;
			}
		}
		.text-content {
			display: none;
		}

		&:hover,
		&.active {
			border-color: var(--gray0-color);
			background-color: var(--gray0-color);
			box-shadow: var(--shadow-float0), var(--shadow-float2);
			color: transparent;

			.icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
	}
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 0;
		right: auto;
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		right: 0;
		left: auto;
	}


	&--solo {
		position: relative;
		inset: unset;
		justify-content: center;
		gap: 8px;
		margin-top: unset;

		.swiper-button-prev,
		.swiper-button-next {
			position: static;
			inset: unset;
		}
		.swiper-button-prev {
			order: 0;
		}
		.swiper-button-next {
			order: 1;
		}
	}
}

.swiper-pagination {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 8px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet {
		width: 9px;
		height: 5px;
		margin: 0 2px;
		background: var(--gray20-color);
		border-radius: 2px;
		transition: 0.2s linear;
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 2px;
	}
	.swiper-pagination-bullet-active {
		width: 24px;
		background: var(--blue20-color);
	}
}

.basic-slider-wrap {
	position: relative;
}
.basic-slider {
	z-index: 10;
	overflow: hidden;

	.swiper-slide {
		display: flex;
		width: auto;
		height: auto;
	}

	&.nav-out {
		.swiper-navigation {
			display: none;
		}
		& ~ .swiper-navigation {
			right: -16px;
			left: -16px;
		}
	}

	.products__item {
		flex-basis: 100%;
		width: 100%;
		margin: unset;
		padding: unset;
	}
}
@media (max-width: 959px) {
	.slider-out {
		min-width: 100%;
		margin-right: calc(var(--container-offset) * -1);
		margin-left: calc(var(--container-offset) * -1);

		.basic-slider {
			padding-right: var(--container-offset);
			padding-left: var(--container-offset);
		}
	}

	.basic-slider-wrap {
		.swiper-navigation {
			display: none;
		}
	}
}

.basic-hca {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__heading,
	&__content,
	&__action {
		display: inline-flex;
	}
	&__heading {
		order: 0;
	}
	&__content {
		order: 10;
		flex-direction: column;
		min-width: 100%;
		width: 100%;

		.basic-slider-wrap {
			min-width: 100%;
		}
	}
	&__action {
		order: 20;
		display: flex;
		flex-direction: column;
		gap: 16px;

		&-more {
			.btn {
				min-width: 100%;
				width: 100%;
			}
		}
	}
}
@media (min-width: 960px) {
	.basic-hca {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px;

		&__heading {
			order: 0;
			max-width: 80%;
		}
		&__content {
			order: 20;
		}
		&__action {
			order: 10;
			flex-direction: row;
			flex-wrap: wrap;
			margin-left: auto;

			&-more {
				margin-left: auto;

				.btn {
					min-width: auto;
					width: auto;
				}
			}
			&--row {
				min-width: 100%;
				width: 100%;
			}
		}

		&--action-into-tab {
			.basic-hca__content {
				.basic-tabs {
					&__header {
						padding-right: 320px;
					}
				}
				&-more {
					position: absolute;
					top: -84px;
					right: 0;
				}
			}
		}
	}
}
@media (max-width: 959px) {
	.basic-hca {
		&--action-into-tab {
			.basic-hca__content {
				.basic-tabs-content__content {
					display: flex;
					flex-direction: column;
					gap: 16px;
				}
				&-main {
					order: 10;
				}
				&-more {
					order: 20;
					min-width: 100%;
					width: 100%;
				}
			}
		}
	}
}

.seo-block {
	display: flex;
	flex-direction: column;
	gap: 24px 40px;

	a {
		color: var(--blue20-color);
		text-decoration: underline;
		text-decoration-style: solid;
		text-underline-offset: 4px;
		text-decoration-color: var(--blue20-color);

		.icon {
			fill: var(--blue20-color);
			stroke: var(--blue20-color);
		}
		&:visited,
		&:focus,
		&:hover,
		&:active {
			color: var(--red0-color);
			text-decoration: none;
			text-decoration-style: unset;
			text-underline-offset: unset;

			.icon {
				fill: var(--red0-color);
				stroke: var(--red0-color);
			}
		}
	}
}
@media (min-width: 960px) {
	.seo-block {
		flex-direction: row;
		flex-wrap: wrap;

		&__item {
			min-width: calc((100% - 40px) / 2);
			width: calc((100% - 40px) / 2);
		}
	}
}

.social {
	&__title {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-radius: var(--bradius);

		&::before {
			content: '';
			z-index: 0;
			position: absolute;
			inset: 1px;
			background-color: var(--white-color);
		}
		.icon {
			z-index: 1;
			min-width: 44px;
			width: 44px;
			min-height: 44px;
			height: 44px;
			fill: var(--text-secondary);
			stroke: var(--text-secondary);
		}

		&:hover,
		&:focus,
		&.active {
			.icon {
				fill: var(--gray20-color);
				stroke: var(--gray20-color);
			}
		}
	}
}

.payment-supports {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;

	&__item {
		display: flex;
		align-items: center;

		.icon,
		.image,
		img {
			max-height: 20px;
			height: 100%;
		}
	}
}

.spoiler {
	position: relative;

	&::before {
		content: "";
		z-index: 2;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 100px;
		height: 100px;
		background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
		transition: var(--transition);
	}
	&[data-readmore] {
		margin-bottom: 16px;

		&[aria-expanded="true"] {
			&::before {
				opacity: 0;
			}
		}
	}
	&,
	&-content {
		display: block;
	}

	&-catalog {
		&::before {
			content: none;
		}

		&-wrapper {
			.spoiler {
				&-trigger {
					display: inline-flex;
					align-items: center;
					gap: 4px;
					line-height: 20px;

					.icon {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
					}
				}
			}
		}
	}
}
@media (min-width: 960px) {
	.spoiler {
		&[data-readmore] {
			margin-bottom: 12px;
		}
	}
}

.basic-tabs {
	position: relative;
	width: 100%;

	&-item {
		&-label {
			pointer-events: none;
		}
	}
	&-content {
		position: relative;

		&__panel {
			display: none;
		}
		&__panel.active {
			display: block;
		}

		&__content {
			&.empty {
				.personal-acc__orders {
					min-height: 240px;

					&-item {
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 32px;
						padding: 48px 20px;
						border: 0;
					}
					&-view {
						display: flex;
						justify-content: center;
						align-items: center;

						.icon {
							min-width: 60px;
							width: 60px;
							min-height: 60px;
							height: 60px;
							fill: var(--green0-color);
							stroke: var(--green0-color);
						}
					}
					&-descr {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 12px;
					}
					&-hint {
						color: var(--text-secondary);
					}
				}
			}
		}
	}

	&-trigger {
		text-transform: unset;
		text-decoration: none;
	}
}
body:not(.index) {
	.basic-tabs {
		&-trigger {
			&:not(.active) {
				background-color: #fff;
			}

			&:hover,
			&.active {
				border-color: var(--text-primary);
				background-color: var(--text-primary);
				color: var(--white-color);
			}
		}
	}
}
@media (min-width: 960px) {
	.basic-tabs {
		&-content {
			&__content {
				&.empty {
					.personal-acc__orders {
						min-height: 400px;
						padding-top: 120px;
						padding-bottom: 120px;
					}
				}
			}
		}
	}
}

.tab {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 4px;
	background-color: transparent;
	color: var(--text-primary);
	font-weight: 500;
	cursor: pointer;
	transition: var(--transition);

	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 2px;
		height: 2px;
		opacity: 0;
		background-color: var(--text-primary);
		transition: var(--transition);
	}
	span {
		pointer-events: none;
		user-select: none;
		white-space: nowrap;
	}

	&:hover {
		color: var(--gray50-color);
	}
	&.active {
		color: var(--gray50-color);

		&::before {
			opacity: 1;
		}
	}
}

.product-code {
	display: inline-flex;
	align-items: center;
	gap: 3px;
	padding: 2px 6px;
	border-radius: 4px;
	background: var(--gray0-color);
	color: var(--text-primary);
	font-weight: 500;
	font-size: 11px;
	line-height: 16px;

	.text-content {
		color: var(--text-primary);
		font-weight: 600;
		white-space: nowrap;
	}
}
@media (min-width: 960px) {
	.product-code {
		font-size: 12px;
	}
}

.product-stock {
	display: flex;
	align-items: center;
	gap: 6px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	cursor: default;

	.icon {
		min-width: 14px;
		width: 14px;
		min-height: 14px;
		height: 14px;
	}
	span {
		padding-top: 1px;
	}
	&.in-stock {
		.icon {
			fill: var(--green0-color);
			stroke: var(--green0-color);
		}
		span {
			color: var(--green0-color);
		}
	}
	&.on-order {
		.icon {
			fill: var(--orange0-color);
			stroke: var(--orange0-color);
		}
		span {
			color: var(--orange0-color);
		}
	}
	&.out-stock {
		.icon {
			fill: var(--gray10-color);
			stroke: var(--gray10-color);
		}
		span {
			color: var(--gray10-color);
		}
	}
}
@media (min-width: 960px) {
	.product-stock {
		font-size: 13px;
	}
}

.sale-label {
	min-height: 16px;
	height: 16px;
	padding: 2px 4px;
	border-radius: var(--bradius-sm);
	color: var(--white-color);
	font-size: 10px;
	line-height: 12px;

	&-orange {
		background-color: var(--orange0-color);
	}
	&-red {
		background-color: var(--red0-color);
	}
	&-green {
		background-color: var(--green0-color);
	}
}
@media (min-width: 960px) {
	.sale-label {
		min-height: 20px;
		height: 20px;
		padding: 4px 8px;
		font-size: 11px;
	}
}

.star-rating {
	position: relative;
	display: inline-flex;
	align-items: center;

	&-wrapper {
		display: inline-flex;
		align-items: center;
		gap: 4px;
		color: var(--text-secondary);
		font-size: 12px;
		line-height: 16px;

		.star-rating {
			label {
				cursor: default;

				.icon {
					fill: var(--yellow-color);
					stroke: var(--yellow-color);
				}

				&:hover {
					.icon {
						fill: var(--yellow-color);
						stroke: var(--yellow-color);
					}
				}
			}
		}

	}

	&__container {
		display: inline-flex;
		direction: rtl;
		unicode-bidi: bidi-override;
	}
	label {
		display: inline-flex;
		cursor: pointer;

		.icon {
			fill: var(--gray0-color);
			stroke: var(--gray0-color);
		}

		&:hover,
		&:hover ~ label,
		input[type="radio"]:checked ~ label {
			.icon {
				fill: var(--yellow-color);
				stroke: var(--yellow-color);
			}
		}
	}
	.icon {
		min-width: 16px;
		width: 16px;
		min-height: 16px;
		height: 16px;
	}
	&__value {
		color: var(--text-secondary);
		cursor: default;
	}

	&.star-rating-0,
	&.star-rating-1,
	&.star-rating-2,
	&.star-rating-3,
	&.star-rating-4,
	&.star-rating-5 {
		label {
			cursor: default;
		}
		label:hover,
		label:hover ~ label {
			.icon {
				fill: var(--gray0-color);
				stroke: var(--gray0-color);
			}
		}
	}
	&.star-rating-1 {
		label:nth-child(5),
		label:nth-child(5):hover,
		label:hover ~ label:nth-child(5) {
			.icon {
				fill: var(--yellow-color);
				stroke: var(--yellow-color);
			}
		}
	}
	&.star-rating-2 {
		label:nth-child(n+4),
		label:nth-child(n+4):hover,
		label:hover ~ label:nth-child(n+4) {
			.icon {
				fill: var(--yellow-color);
				stroke: var(--yellow-color);
			}
		}
	}
	&.star-rating-3 {
		label:nth-child(n+3),
		label:nth-child(n+3):hover,
		label:hover ~ label:nth-child(n+3) {
			.icon {
				fill: var(--yellow-color);
				stroke: var(--yellow-color);
			}
		}
	}
	&.star-rating-4 {
		label:nth-child(n+2),
		label:nth-child(n+2):hover,
		label:hover ~ label:nth-child(n+2) {
			.icon {
				fill: var(--yellow-color);
				stroke: var(--yellow-color);
			}
		}
	}
	&.star-rating-5 {
		label,
		label:hover,
		label:hover ~ label {
			.icon {
				fill: var(--yellow-color);
				stroke: var(--yellow-color);
			}
		}
	}
}

.table-descr {
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	vertical-align: top;

	td {
		position: relative;
		width: 100%;
		padding-top: 4px;
		padding-bottom: 4px;
		vertical-align: top;
		background-color: var(--white-color);
		line-height: 20px;
		text-align: left;

		&:first-child {
			max-width: 60%;
			padding-right: 12px;
			color: var(--text-secondary);

			&::before {
				content: "";
				position: absolute;
				right: 0;
				top: 18px;
				left: 4px;
				height: 1px;
				background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAHklEQVQImWM8debC+2/fvwsoysv9k5OVYmJgYPgAAHoMCO6trEXWAAAAAElFTkSuQmCC') 0 0 repeat-x;
			}
			span {
				padding-right: 4px;
			}
		}
		&:last-child {
			max-width: 40%;

			span {
				padding-left: 4px;
				font-weight: 500;
			}
		}
		span {
			z-index: 1;
			position: relative;
			background: inherit;

			a {
				white-space: nowrap;
			}
		}
		span,
		a {
			line-height: inherit;
		}
	}

	&--sb {
		td {
			&:first-child {
				max-width: unset;
				width: auto;
			}
			&:last-child {
				text-align: right;

				&::before {
					content: "";
					position: absolute;
					right: 4px;
					top: 18px;
					left: 0;
					height: 1px;
					background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAHklEQVQImWM8debC+2/fvwsoysv9k5OVYmJgYPgAAHoMCO6trEXWAAAAAElFTkSuQmCC') 0 0 repeat-x;
				}
			}
		}
	}

	&--total {
		td {
			&:first-child,
			&:last-child {
				color: var(--text-primary);
			}
			&:first-child {
				&,
				span {
					font-weight: 600;
					font-size: 15px;
				}
			}
			&:last-child {
				&,
				span {
					font-weight: 700;
					font-size: 17px;
				}
			}
		}
	}
}
@media (min-width: 960px) {
	.table-descr {
		&--total {
			td {
				&:first-child {
					&,
					span {
						font-size: 16px;
					}
				}
				&:last-child {
					&,
					span {
						font-size: 20px;
					}
				}
			}
		}
	}
}

[data-readmore] {
	overflow: hidden;
	transition: height 0.2s ease-out;
}

[data-removable] {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

[data-delete-trigger] {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.icon {
		pointer-events: none;
		user-select: none;
	}
}

.hr {
	position: relative;
	min-width: 100%;
	width: 100%;
	min-height: 1px;
	height: 1px;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		min-height: 1px;
		height: 1px;
		background-color: var(--gray1-color);
	}

	&-out {
		&::before {
			right: -12px;
			left: -12px;
		}
	}
}
@media (min-width: 960px) {
	.hr {
		&-out {
			&::before {
				right: calc(((100vw + 17px - var(--container-width)) / 2) * -1);
				left: calc(((100vw + 17px - var(--container-width)) / 2) * -1);
			}
		}
	}
}

.required-star {
	color: var(--red10-color);
}

.tag {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	border-radius: 60px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: var(--text-primary);
	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	text-decoration: none;
	transition: var(--transition);

	.icon {
		fill: var(--text-primary);
		stroke: var(--text-primary);
	}

	&.active {
		background: rgba(0, 0, 0, 0.1);
	}

	&-secondary {
		border-color: var(--blue10-color);
		background-color: var(--blue10-color);
		color: var(--white-color);

		.icon {
			fill: var(--white-color);
			stroke: var(--white-color);
		}

		&.active {
			border-color: var(--blue20-color);
			background-color: var(--blue20-color);
			color: var(--white-color);
		}
	}

	&:hover {
		color: var(--text-primary);
		text-decoration: none;
	}

}
@media (min-width: 960px) {
	.tag {
		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}

		&-secondary {
			&:hover {
				border-color: var(--blue20-color);
				background-color: var(--blue20-color);
				color: var(--white-color);
			}
		}
	}
}

.ac {
	&-trigger {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 12px;
		width: 100%;
		line-height: 24px;
		cursor: pointer;
		transition: var(--transition);

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 4px;
			text-align: center;
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
			background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iY2hldnJvbi1kb3duIiB2aWV3Qm94PSIwIDAgMTIgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cgk8cGF0aCBkPSJNOC45NiA0LjA4OTk3SDUuODQ1SDMuMDRDMi41NiA0LjA4OTk3IDIuMzIgNC42Njk5NyAyLjY2IDUuMDA5OTdMNS4yNSA3LjU5OTk3QzUuNjY1IDguMDE0OTcgNi4zNCA4LjAxNDk3IDYuNzU1IDcuNTk5OTdMNy43NCA2LjYxNDk3TDkuMzQ1IDUuMDA5OTdDOS42OCA0LjY2OTk3IDkuNDQgNC4wODk5NyA4Ljk2IDQuMDg5OTdaIi8+Cjwvc3ZnPgo=);
			transition: var(--transition);
		}
	}
	&-panel {
		overflow: hidden;
		transition-property: height, visibility;
		transition-timing-function: ease;
	}
	&-content {
		padding-top: 16px;
	}

	&.js-enabled {
		.ac-panel {
			visibility: hidden;
		}
	}

	&.is-active {
		.ac-trigger {
			&::after {
				transform: scale(-1);
			}
		}
		.ac-panel {
			visibility: visible;
		}
	}
}

.modal {
	position: relative;
	display: none;
	min-width: 351px;
	width: 351px;
	padding: 0;
	border: unset;
	border-radius: var(--bradius);
	box-shadow: var(--shadow-popup1), var(--shadow-popup2);
	background: var(--white-color);
	cursor: default!important;

	& :focus:not(.carousel__button.is-close) {
		outline: none;
	}
	& > .carousel__button.is-close {
		top: 12px;
		right: 12px;
		min-width: 28px;
		width: 28px;
		min-height: 28px;
		height: 28px;
		border-radius: 4px;
		color: var(--gray40-color);
		transition: var(--transition);

		&:hover {
			background-color: var(--gray1-color);
			color: var(--text-primary);
		}
	}
	.carousel__button svg {
		min-width: 14px;
		width: 14px;
		min-height: 14px;
		height: 14px;
		filter: unset;
	}
	&__content {
		height: 100%;
		color: var(--text-primary);

		&-item {
			padding: 16px;

			&:not(:last-child) {
				border-bottom: 1px solid var(--gray1-color);
			}
		}
	}
	&__header {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__title {
		&-icon {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 20px;

			.icon {
				min-width: 48px;
				width: 48px;
				min-height: 48px;
				height: 48px;
				fill: var(--green0-color);
				stroke: var(--green0-color);
			}
		}
		&-share {
			display: flex;
			align-items: center;
			gap: 12px;

			picture {
				display: flex;
			}
			picture,
			img,
			.image {
				min-width: 60px;
				width: 60px;
				min-height: 60px;
				height: 60px;
			}
		}
		&-column {
			flex-direction: column;
		}
	}
	&__subtitle {
		color: var(--gray40-color);

		&--primary {
			color: var(--text-primary);
		}
		&--gap {
			padding-top: 12px;
		}
	}
	&__soc {
		display: flex;
		flex-direction: column;
		align-items: center;

		.social {
			&__item {
				.icon {
					min-width: 40px;
					width: 40px;
					min-height: 40px;
					height: 40px;
					fill: var(--text-secondary);
					stroke: var(--text-secondary);
				}
			}
		}
	}
	&__row {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	.form {
		min-width: 100%;

		&__field {
			&-area {
				display: flex;
				flex-direction: column;
				gap: 16px;

				&-after {
					padding-top: 12px;
				}
				&-btn {
					&:not(:first-child) {
						padding-top: 16px;
					}

					.btn {
						min-width: 100%;
						width: 100%;
					}

					&-g {
						display: flex;
						flex-wrap: wrap;
						gap: 12px;

						.form-btn {
							&-half {
								min-width: calc((100% - 12px) / 2);
								width: calc((100% - 12px) / 2);
							}
							&-full {
								min-width: 100%;
								width: 100%;
							}
						}
					}
				}
				&-agree {
					padding-top: 12px;
					color: var(--text-secondary);
					font-size: 11px;
				}
				&-checkbox {
					display: flex;
					flex-direction: column;
					gap: 12px;
				}
			}
		}
	}
}
@media (min-width: 960px) {
	.modal {
		min-width: 440px;
		width: 440px;

		&.modal-md,
		&.modal-lg {
			.modal__content-item {
				padding: 24px 32px;
			}
		}
		&.modal-md {
			min-width: 600px;
			width: 600px;
		}
		&.modal-lg {
			min-width: 800px;
			width: 800px;
		}
		&__content {
			&-item {
				padding: 24px 40px;
			}
		}
		&__header {
			padding-top: 8px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		&__row {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}

		.form {
			&__field {
				&-area {
					gap: 20px;

					&-btn {
						&:not(:first-child) {
							padding-top: 24px;
						}

						&-g {
							display: flex;
							flex-wrap: wrap;
							gap: 12px;

							.btn {
								min-width: 0;
								width: auto;
							}
						}
					}
					&-agree {
						font-size: 12px;
					}
				}
			}
		}

		.contacts-address {
			gap: 20px;

			&__item {
				&:nth-child(1) {
					min-width: calc(100% - 20px - 320px);
					width: calc(100% - 20px - 320px);
				}
				&:nth-child(2) {
					min-width: 320px;
					width: 320px;
				}
			}
		}
	}
}

.pre-footer {
	z-index: 2;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: var(--gray0-color);

	&__container {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__descr {
		display: flex;
		align-items: center;
		gap: 20px;

		&-pic {
			display: flex;
			justify-content: center;
			align-items: center;

			.image {
				min-width: 90px;
				width: 90px;
				min-height: 90px;
				height: 90px;
			}
		}
		&-info {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		&-subtitle {
			color: var(--text-secondary);
			font-size: 15px;
		}
	}
	&__act {
		display: flex;
		flex-direction: column;
		gap: 16px;

		&-form {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		&-caption {
			max-width: 600px;
			color: var(--text-secondary);
		}
	}
}
@media (min-width: 960px) {
	.pre-footer {
		padding-top: 36px;
		padding-bottom: 36px;

		&__container {
			flex-direction: row;
		}
		&__descr {
			gap: 36px;
			min-width: calc((100% - 20px) * 0.45);
			width: calc((100% - 20px) * 0.45);
		}
		&__act {
			justify-content: center;
			min-width: calc((100% - 20px) * 0.55);
			width: calc((100% - 20px) * 0.55);
		}
	}
}
@media (min-width: 1200px) {
	.pre-footer {
		&__act {
			&-form {
				flex-direction: row;

				.input-wrapper {
					flex: 1;
					min-width: unset;
				}
				.btn {

				}
			}
		}
	}
}
@media (max-width: 959px) {
	.pre-footer {
		&__descr {
			&-pic {
				display: none;
			}
		}
	}
}

.page-up {
	z-index: 2000;
	position: fixed;
	right: 6px;
	bottom: 48px;
	min-width: 32px;
	width: 32px;
	min-height: 32px;
	height: 32px;
	padding: 0;
	border: unset;
	border-radius: 50%;
	box-shadow: var(--shadow-float1), var(--shadow-float2);
	background-color: rgba(246, 246, 246, 0.8);

	.icon {
		min-width: 24px;
		width: 24px;
		min-height: 24px;
		height: 24px;
		fill: var(--gray20-color);
		stroke: var(--gray20-color);
	}
	.text-content {
		display: none;
	}
}
@media (min-width: 960px) {
	.page-up {
		right: 48px;
		min-width: 56px;
		width: 56px;
		min-height: 56px;
		height: 56px;
		padding: 0;

		&:hover {
			border: unset;
			box-shadow: var(--shadow-float0);
			background-color: rgba(204, 204, 204, 0.8);

			.icon {
				fill: var(--text-primary);
				stroke: var(--text-primary);
			}
		}
	}
}

#bx-panel {
	z-index: 1010!important;
}

@media (min-width: 670px) {
	.block {
		padding-top: 60px;
		padding-bottom: 60px;

		&-top {
			padding-top: 60px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 60px;
		}

		&-sm {
			padding-top: 32px;
			padding-bottom: 32px;

			&.block-top {
				padding-top: 32px;
				padding-bottom: unset;
			}
			&.block-bottom {
				padding-top: unset;
				padding-bottom: 32px;
			}
		}

		&--mobile {
			&,
			.block-top,
			.block-bottom {
				padding-top: unset;
				padding-bottom: unset;
			}
		}
	}
}
@media (max-width: 669px) {
	.block {
		padding-top: 32px;
		padding-bottom: 32px;

		&-top {
			padding-top: 32px;
			padding-bottom: unset;
		}
		&-bottom {
			padding-top: unset;
			padding-bottom: 32px;
		}

		&-sm {
			padding-top: 24px;
			padding-bottom: 24px;

			&.block-top {
				padding-top: 24px;
				padding-bottom: unset;
			}
			&.block-bottom {
				padding-top: unset;
				padding-bottom: 24px;
			}
		}

		&--desktop {
			&,
			.block-top,
			.block-bottom {
				padding-top: unset;
				padding-bottom: unset;
			}
		}
	}
}

.light-bgc {
	background-color: #fff;
}

/* начало стилей референса*/
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
}
@media screen and (max-width: 669px) {
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
}
.col {
	padding-left: 15px;
	padding-right: 15px;
}
@media screen and (max-width: 669px) {
	.col {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.row--small {
	margin-left: -6px;
	margin-right: -6px;
}
@media screen and (max-width: 669px) {
	.row--small {
		margin-left: -3px;
		margin-right: -3px;
	}
}
.row--small > .col {
	padding-left: 6px;
	padding-right: 6px;
}
@media screen and (max-width: 669px) {
	.row--small > .col {
		padding-left: 3px;
		padding-right: 3px;
	}
}
.row--null {
	margin-left: 0;
	margin-right: 0;
}
@media screen and (max-width: 669px) {
	.row--null {
		margin-left: 0;
		margin-right: 0;
	}
}
.row--null > .col {
	padding-left: 0;
	padding-right: 0;
}
@media screen and (max-width: 669px) {
	.row--null > .col {
		padding-left: 0;
		padding-right: 0;
	}
}
.col-1 {
	width: 8.33%;
}
@media screen and (max-width: 669px) {
	.col-1 {
		width: 100%;
	}
}
.col-2 {
	width: 16.66%;
}
@media screen and (max-width: 669px) {
	.col-2 {
		width: 100%;
	}
}
.col-3 {
	width: 25%;
}
@media screen and (max-width: 669px) {
	.col-3 {
		width: 100%;
	}
}
.col-4 {
	width: 33.33%;
}
@media screen and (max-width: 669px) {
	.col-4 {
		width: 100%;
	}
}
.col-5 {
	width: 41.66%;
}
@media screen and (max-width: 669px) {
	.col-5 {
		width: 100%;
	}
}
.col-6 {
	width: 50%;
}
@media screen and (max-width: 669px) {
	.col-6 {
		width: 100%;
	}
}
.col-7 {
	width: 58.33%;
}
@media screen and (max-width: 669px) {
	.col-7 {
		width: 100%;
	}
}
.col-8 {
	width: 66.66%;
}
@media screen and (max-width: 669px) {
	.col-8 {
		width: 100%;
	}
}
.col-9 {
	width: 75%;
}
@media screen and (max-width: 669px) {
	.col-9 {
		width: 100%;
	}
}
.col-10 {
	width: 83.33%;
}
@media screen and (max-width: 669px) {
	.col-10 {
		width: 100%;
	}
}
.col-11 {
	width: 91.66%;
}
@media screen and (max-width: 669px) {
	.col-11 {
		width: 100%;
	}
}
.col-12 {
	width: 100%;
}
@media screen and (max-width: 669px) {
	.col-12 {
		width: 100%;
	}
}
.col-five {
	width: 20%;
}
@media screen and (max-width: 669px) {
	.col-five {
		width: 100%;
	}
}
@media screen and (max-width: 1199px) {
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33%;
	}
	.col-lg-11 {
		width: 91.66%;
	}
	.col-lg-12 {
		width: 100%;
	}
}
@media screen and (max-width: 959px) {
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}
}
@media screen and (max-width: 669px) {
	.col-sm-1 {
		width: 8.33%;
	}
	.col-sm-2 {
		width: 16.66%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33%;
	}
	.col-sm-5 {
		width: 41.66%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.33%;
	}
	.col-sm-8 {
		width: 66.66%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.33%;
	}
	.col-sm-11 {
		width: 91.66%;
	}
	.col-sm-12 {
		width: 100%;
	}
}
.offset-1 {
	margin-left: 8.33%;
}
.offset-2 {
	margin-left: 16.66%;
}
.offset-3 {
	margin-left: 25%;
}
.offset-4 {
	margin-left: 33.33%;
}
.offset-5 {
	margin-left: 41.66%;
}
.offset-6 {
	margin-left: 50%;
}
@media screen and (max-width: 1199px) {
	.offset-lg-0 {
		margin-left: 0;
	}
}
@media screen and (max-width: 959px) {
	.offset-md-0 {
		margin-left: 0;
	}
}
@media screen and (max-width: 669px) {
	.offset-sm-0 {
		margin-left: 0;
	}
}

.js-hide {
	display: none !important;
}
.js-show {
	display: block !important;
}
.js-tabs-info {
	display: none;
}
.js-tabs-info--open {
	display: block;
}
.js-tabs-goods-info {
	display: none;
}
.js-tabs-goods-info--open {
	display: block;
}
.js-accordion-info {
	display: none;
}
.js-form-messange {
	display: none;
}
.js-form-messange--error {
	color: #E44C51;
	display: block !important;
}
.js-form-messange--ok {
	color: #1AB14A;
	display: block !important;
}
.js-form-input-error {
	border-color: #E44C51 !important;
	color: #E44C51 !important;
	/* Firefox 19+ */
	/* Firefox 18- */
}
.js-form-input-error::-webkit-input-placeholder {
	color: #E44C51 !important;
}
.js-form-input-error::-moz-placeholder {
	color: #E44C51 !important;
}
.js-form-input-error:-moz-placeholder {
	color: #E44C51 !important;
}
.js-form-input-error:-ms-input-placeholder {
	color: #E44C51 !important;
}
.js-mob-slider .slick-dots {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	list-style: none;
	pointer-events: auto;
	margin-left: -5px;
	margin-right: -5px;
}
.js-mob-slider .slick-dots li {
	line-height: 0;
	font-size: 0;
	margin: 0;
	padding: 0 5px;
}
.js-mob-slider .slick-dots button {
	font-size: 0;
	width: 8px;
	height: 8px;
	background: #A6B0BC;
	border-radius: 50%;
	position: relative;
	opacity: 1;
	transition: all 0.2s;
}
.js-mob-slider .slick-dots .slick-active button {
	background: #33333D;
}

// pagination
.pagination {
	display: inline-flex;
	align-items: center;

	&__list {
		display: flex;
		align-items: center;
	}
	& &__list {
		margin: 0 10px;
	}
	&__item {
		margin-left: 16px;

		&:first-child {
			margin-left: 0;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border-radius: 5px;
		background-color: #fff;
		font-family: inherit;
		font-weight: 700;
		font-size: 14px;
		line-height: 24px;

		&--active {
			background-color: #33333D;
			color: #fff;
		}
	}
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 18px;
		height: 24px;

		span {
			z-index: -10000;
			position: absolute;
			font-size: 1px;
			opacity: 0;
		}

		svg {
			fill: #33333D;
		}

		&--disabled {
			svg {
				opacity: .5;
			}
		}

		&--left {
			transform: rotate(180deg);
		}
	}
}

/* конец стилей референса*/