:root {
	// base
	--font-family-base: "Nunito Sans", sans-serif;
	--content-width: 1710px;
	--container-offset: 12px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--black-color: #000;
	--white-color: #FFF;

	--text-primary: #333;
	--text-secondary: #999;

	--gray0-color: #F6F6F6;
	--gray01-color: #E9EBEE;
	--gray05-color: #CCC;
	--gray10-color: #AAA;
	--gray20-color: #666;
	--gray30-color: #8B98A7;
	--gray40-color: #696e7d;

	--blue0-color: #003;
	--blue05-color: #001F6F;
	--blue10-color: #1E3046;
	--blue15-color: #0C4DB9;
	--blue20-color: #014E74;
	--blue30-color: #09F;
	--blue40-color: #9CF;
	--green0-color: #090;
	--green10-color: #396;
	--yellow-color: #FAE74D;
	--orange0-color: #ED9237;
	--red0-color: #ba2423;
	--red10-color: #fb010c;

	--shadow-float0: 0 1px 2px 1px rgba(136, 140, 138, 0.2);
	--shadow-float1: 0 6px 6px -2px rgba(136, 140, 138, 0.2);
	--shadow-float2: 0 8px 8px -2px rgba(136, 140, 138, 0.2);

	--shadow-bar0: 0 -1px 2px 1px rgba(136, 140, 138, 0.2);
	--shadow-bar1: 0 -4px 4px -2px rgba(136, 140, 138, 0.1);

	--shadow-section0: 0 1px 4px 1px rgba(136, 140, 138, 0.2);
	--shadow-section1: 0 4px 12px -2px rgba(136, 140, 138, 0.1);

	--shadow-popup0: 0 0 2px 0 rgba(136, 140, 138, 0.2);
	--shadow-popup1: 0 1px 2px 0 rgba(136, 140, 138, 0.1);
	--shadow-popup2: 0 12px 24px 0 rgba(136, 140, 138, 0.1);

	--bradius: 6px;
	--bradius-sm: 4px;
	--bradius-md: 8px;
	--bradius-lg: 12px;
	--bradius-xl: 16px;

	// Colors Materik
	--color-black      : #33333D; //Tuna
	--color-red        : #E44C51; //Red
	--color-green      : #1AB14A; //Green
	--color-light-green: #6DCC97; //light green
	--color-gray       : #8B98A7; //Regent gray
	--color-light-gray : #E9EBEE; //light gray
	--color-hit-gray   : #A6B0BC; //Hit gray
	--color-blue       : #0C4DB9; //blue
	--color-dark-blue  : #001F6F; //Dark blue
	--color-yellow     : #F1B212; //Golden

	// breakpoints Materik
	--mob-small  : 480px - 1px;
	--mob        : 670px - 1px;
	--ipad       : 960px - 1px;
	--tablet     : 1200px - 1px;
	--laptop     : 1440px - 1px;
	--laptop-wide: 1680px - 1px;
	--inner      : 1710px;

	--min-tablet: var(--tablet) + 1px;
	--min-ipad  : var(--ipad) + 1px;
	--min-mob   : var(--mob) + 1px;

	// fancybox
	--fancybox-scrollbar-compensate: 17px;
	--fancybox-bg: rgba(0, 0, 0, 0.7);

	// transition
	--transition: 0.2s ease-out;
}
@media (min-width: 670px) {
	:root {
		--container-offset: 30px;
	}
}