// базовые подключения
@use "vars";
@use "fonts";
@use "./vendors/normalize";
@use "./helpers/ui";
@use "../../node_modules/@fancyapps/ui/dist/fancybox";
@use "../../node_modules/swiper/swiper-bundle";
@use "settings";

// подключения компонентов страницы
@use "./components/header";
@use "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 375px;
	padding-top: 125px;
	overflow: hidden;
}
body:not(.index) {
	.main {
		background-color: rgba(233, 235, 238, 0.5);
	}
}
@media (min-width: 1200px) {
	.main {
		padding-top: 218px;
	}
}

// content-page
.cp {
	&-heading {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 4px;
		padding-top: 20px;
	}

	&-sidebar {
		display: flex;
		flex-direction: column;
		gap: 24px;

		&__item {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&__heading {
			font-weight: 600;
		}
		&__title {
			font-weight: 600;
			font-size: 14px;
		}
		&__list {
			display: flex;
			flex-direction: column;

			&-item {
				display: flex;
				padding-bottom: 16px;
				line-height: 20px;
			}
		}
		&__link {
			color: var(--text-primary);
			line-height: 20px;
			transition: var(--transition);

			.cp-sidebar__link-content {
				vertical-align: bottom;
			}
			.stock {
				font-weight: 500;
				font-size: 11px;
				color: var(--gray30-color);
			}

			&:hover,
			&:active,
			&.active {
				color: var(--green10-color);

				.stock {
					color: var(--gray30-color);
				}
			}

			&.subcategory-active {
				color: var(--text-primary);
				font-weight: 600;
			}
		}

		&-filter {
			&__selection {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			&__options {
				display: flex;
				flex-direction: column;
				gap: 24px;

				&-item {
					display: flex;
					flex-direction: column;
					gap: 16px;
				}
			}
			&__range {
				display: flex;
				gap: 8px;
				min-width: 100%;
				width: 100%;

				&-item {
					flex: 1;
					min-width: calc((100% - 8px) / 2);
					width: calc((100% - 8px) / 2);
				}
			}
			&__cta {
				display: flex;
				gap: 12px;
			}
		}
	}

	/*&-item {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&--frame {
			padding: 11px 15px;
			border: 1px solid var(--gray1-color);
			border-radius: var(--bradius);
		}
	}*/
	/*&-label {
		display: flex;
		flex-direction: row;
		gap: 12px;

		&-icon {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
			fill: var(--green10-color);
			stroke: var(--green10-color);
		}
		&-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
		}
	}*/
	/*&-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}*/
	/*&-list {
		padding-left: 22px;

		li {
			position: relative;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		@at-root {
			ul#{&} {
				li {
					&::before {
						content: "";
						position: absolute;
						top: 8px;
						left: -18px;
						min-width: 6px;
						width: 6px;
						min-height: 6px;
						height: 6px;
						border-radius: 1px;
						background-color: var(--green0-color);
					}
				}
			}
			ol#{&} {
				counter-reset: item;

				li {
					&::before {
						content: counter(item) ".";
						counter-increment: item;
						position: absolute;
						top: 2px;
						left: -22px;
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
						color: var(--text-secondary);
						font-weight: 600;
						font-size: 13px;
						line-height: 1;
					}
				}
			}
		}
		&-default {
			@at-root {
				ul#{&} {
					li {
						&::before {
							content: "";
							position: absolute;
							top: 10px;
							left: -13px;
							min-width: 4px;
							width: 4px;
							min-height: 4px;
							height: 4px;
							border-radius: 50%;
							background-color: var(--text-primary);
						}
					}
				}
			}
		}
	}*/
	/*&-gaps {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 12px;

		.icon,
		.image,
		img {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
		}
		.icon {
			fill: var(--green10-color);
			stroke: var(--green10-color);
		}
	}*/
	/*&-image {
		display: flex;

		.image {
			min-width: 100%;
			width: 100%;
			height: auto;
			aspect-ratio: 16/9;
			border-radius: var(--bradius);
		}

		&-double,
		&-triple {
			flex-direction: column;
			gap: 16px;
		}
		&-double {
			.image {
				min-width: 100%;
				width: 100%;
				height: auto;
				aspect-ratio: 16/9;
				border-radius: var(--bradius);
			}
		}
		&-triple {
			.image {
				min-width: 100%;
				width: 100%;
				height: auto;
				aspect-ratio: 16/9;
				border-radius: var(--bradius);
			}
		}
	}*/
	/*&-wholesale {
		gap: 24px;

		&.cp-item {
			padding: 15px;
		}
		&__descr {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		&__title {
			font-weight: 500;
			font-size: 17px;
		}
		&__info {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: flex-end;
			gap: 8px;
			color: var(--gray40-color);
		}
		&__contacts {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
		}
		&__cta {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 8px;
		}
		&__form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;

			&-agree {
				color: var(--text-secondary);
				font-weight: 500;
				font-size: 11px;
			}
		}
	}*/

	&-content {
		min-width: 100%;
		width: 100%;

		&__top {
			display: flex;
			flex-direction: column;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
		&__category {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 24px 6px;

			&-item {
				display: flex;
				flex-direction: column;
				gap: 6px;
				color: var(--text-primary);
				line-height: 20px;
				transition: var(--transition);

				&:hover {
					color: #23527c;
					text-decoration: underline;
				}
			}
			&-view {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 78%;
				overflow: hidden;
				border-radius: var(--bradius);
				background-color: var(--white-color);

				img,
				.image {
					position: absolute;
					inset: 0;
					width: 100%;
					height: 100%;
				}
			}
			&-descr {
				display: flex;
				flex-direction: column;
			}
			&-title {
				font-weight: 700;
				font-size: 10px;
				line-height: 1.2;
				text-align: center;
			}
		}
		&__settings {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		}
		&__sort {
			position: relative;
			min-width: 100%;
			width: 100%;
		}
		/*&__item {
			&:last-child {
				margin-bottom: unset!important;
			}
		}*/
	}

	/*&-details {
		.cp {
			&-heading {
				&__title,
				&__back {
					min-width: 100%;
					width: 100%;
				}
				&__title {
					order: 5;
				}
				&__back {
					order: 0;
				}
			}
		}

		&__preview {
			.image {
				min-width: 100%;
				width: 100%;
				max-height: 165px;
				border-radius: var(--bradius);
			}
		}

		&__nav {
			display: flex;
			flex-direction: column;
			gap: 20px;

			&-item {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
			&-next {
				.cp-details__nav-link-pointer {
					.icon {
						order: 5;
					}
					.text-content {
						order: 0;
					}
				}
			}
			&-link-pointer {
				display: flex;
				align-items: center;
				gap: 4px;

				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
				}
			}
			&-title {
				font-weight: 600;
				font-size: 14px;
			}
		}
	}*/
}
@media (min-width: 768px) {
	.cp {
		&-content {
			&__category {
				grid-template-columns: repeat(4, 1fr);
				gap: 24px 20px;

				&-view {
					border-radius: var(--bradius-lg);
				}
				&-title {
					font-size: 12px;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.cp {
		display: flex;
		gap: 32px;

		&-sidebar {
			min-width: 300px;
			width: 300px;

			&-nav {
				gap: 40px;
			}
			&__item {
				gap: 12px;
			}
			&__top {
				padding-bottom: 24px;
				border-bottom: 1px solid var(--gray1-color);
			}
			&__title {
				font-size: 15px;
			}
			&__list {
				&-item {
					padding-bottom: 12px;
				}
			}
			&__link {
				.stock {
					font-size: 12px;
				}
			}

			&-category {
				.spoiler-trigger,
				.cp-sidebar__list {
					padding-left: 24px;
				}
			}

			&-filter {
				&__header {
					display: none;
				}
				&__options {
					&-item {
						gap: 12px;
					}
				}
				&__cta {
					flex-direction: column;

					.btn {
						min-width: 100%;
						width: 100%;
					}
				}
			}
		}
		/*&-sidebar ~ .cp-content {
			min-width: calc(100% - 284px - 40px);
			width: calc(100% - 284px - 40px);
		}*/

		/*&-item {
			gap: 16px;

			&--frame {
				padding: 19px 23px;
			}
		}*/
		/*&-image {
			&-double,
			&-triple {
				flex-wrap: wrap;
				gap: 20px;
			}
			&-double {
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				.image {
					min-height: 400px;
					height: 400px;
				}
			}
			&-triple {
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				.image {
					min-height: 250px;
					height: 250px;
				}
			}
		}*/
		/*&-label {
			gap: 20px;

			&-icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
			&-content {
				gap: 20px;
			}
		}*/
		/*&-wholesale {
			flex-direction: row;
			gap: 40px;

			&.cp-item {
				padding: 27px 31px;
			}
			&__descr {
				gap: 20px;
			}
			&__title {
				font-size: 18px;
			}
			&__info {
				gap: 16px;
			}
			&__cta {
				min-width: 380px;
				width: 380px;
			}
			&__form {
				&-agree {
					font-size: 12px;
				}
			}
		}*/

		&-content {
			min-width: calc(100% - 300px - 32px);
			width: calc(100% - 300px - 32px);

			&__top {
				&:not(:last-child) {
					margin-bottom: 32px;
				}
			}
			&__category {
				grid-template-columns: repeat(5, 1fr);
				gap: 24px 32px;

				&-title {
					font-size: 14px;
				}
			}
			&__settings {
				order: 10;
			}
			/*&-sidebar {
				display: none;
			}*/
		}

		/*&-details {
			max-width: 1056px;
			margin-right: auto;
			margin-left: auto;

			.cp {
				&-heading {
					gap: 12px;
				}

				&-content {
					flex: unset;
					min-width: 100%;
					width: 100%;
				}
			}

			&__preview {
				.image {
					max-height: 500px;
				}
			}

			&__nav {
				flex-direction: row;
				justify-content: space-between;

				&-item {
					gap: 8px;
					min-width: 305px;
					width: 305px;
				}
				&-next {
					align-items: flex-end;

					.cp-details__nav-title {
						text-align: right;
					}
				}
				&-title {
					font-size: 15px;
				}
			}
		}*/
	}
}
@media (min-width: 1440px) {
	.cp {
		&-content {
			&__category {
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}
}
@media (min-width: 1600px) {
	.cp {
		&-content {
			&__category {
				gap: 24px 48px;
			}
		}
	}
}
@media (max-width: 1199.98px) {
	.cp {
		&-sidebar {
			z-index: 1010;
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding: 8px 12px 108px;
			overflow: auto;
			background-color: var(--white-color);
			transition: var(--transition);

			&::-webkit {
				&-scrollbar,
				&-scrollbar-track,
				&-scrollbar-thumb {
					min-width: 4px;
					width: 4px;
				}
				&-scrollbar,
				&-scrollbar-track {
					background-color: transparent;
				}
				&-scrollbar-button {
					display: none;
				}
				&-scrollbar-thumb {
					border-radius: 2px;
					background-color: var(--gray40-color);
				}
			}
			&:not(.active) {
				top: 100vh;
			}
			&.active {
				top: 0;

				.cp-sidebar-filter {
					&__cta {
						position: fixed;
						right: 0;
						bottom: 0;
						left: 0;
					}
				}
			}

			&:not([data-filter]) {
				display: none;
			}

			&-category {
				display: none;
			}

			&-filter {
				&__header {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 12px;
					margin-bottom: -8px;
				}
				&__close {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 6px;

					.icon {
						min-width: 32px;
						width: 32px;
						min-height: 32px;
						height: 32px;
					}
				}
				&__cta {
					flex-wrap: wrap;
					padding: 12px 12px 20px;
					box-shadow: var(--shadow-bar0), var(--shadow-bar1);
					background-color: var(--white-color);

					.btn {
						min-width: calc((100% - 12px) / 2);
						width: calc((100% - 12px) / 2);
					}
				}
			}
		}

		/*&-column {
			&--sm {
				gap: 8px;
			}
		}*/

		&-content {
			/*& .cp-content-sidebar {
				z-index: 1;
				position: static;
				inset: unset;
				display: flex;
				margin-right: calc(var(--container-offset) * -1);
				margin-left: calc(var(--container-offset) * -1);
				padding: 0 var(--container-offset);
				overflow: hidden;
			}*/
		}
	}
}

.product-sort {
	display: flex;
	justify-content: space-between;

	&__filter {
		display: flex;
		align-items: flex-end;

		@media screen and (max-width: 1199.98px) {
			position: relative;
			flex-grow: 1;
		}

		&-text {
			margin-right: 38px;
			font-weight: 600;
			font-size: 16px;
			line-height: 120%;
			color: var(--gray30-color);
			text-transform: uppercase;

			@media screen and (max-width: 1199.98px) {
				display: none;
			}
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		min-height: 20px;
		height: 20px;
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		color: var(--text-primary);
		white-space: nowrap;

		&.active {
			color: var(--blue15-color);

			.product-sort__icon {
				fill: var(--blue15-color);
				stroke: var(--blue15-color);
			}
		}

		&.asc {
			.product-sort__icon--asc {
				display: block;
			}
		}

		&.desc {
			.product-sort__icon--desc {
				display: block;
			}
		}

		&-select {
			display: none;

			@media screen and (max-width: 1199.98px) {
				display: inline-flex;
				align-items: center;
				font-weight: 700;
				font-size: 10px;
				line-height: 120%;
				text-transform: uppercase;
				color: var(--gray30-color);
			}

			&.open {
				&:after {
					transform: rotate(180deg);
				}
			}

			&:after {
				content: '';
				display: block;
				width: 6px;
				height: 4px;
				margin-left: 5px;
				background-image: url('../img/icon-filter-select.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}

		&-filter {
			display: flex;
			align-items: center;
			font-weight: 700;
			font-size: 10px;
			line-height: 120%;
			color: var(--text-primary);
			text-transform: uppercase;

			svg {
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				margin-left: 4px;
			}

			&-wrap {
				display: none;

				@media screen and (max-width: 991.98px) {
					display: block;
				}
			}
		}
	}

	&__list {
		display: flex;
		list-style: none;

		@media screen and (max-width: 1199.98px) {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;
			display: none;
			padding: 10px;
			background-color: #fff;
			border: 1px solid var(--gray01-color);
			box-shadow: 0 4px 13px rgba(0, 0, 0, .09);
			border-radius: 5px;
		}

		&.open {
			@media screen and (max-width: 1199.98px) {
				display: block;
			}
		}
	}

	&__item {
		margin-left: 30px;

		@media screen and (max-width: 1199.98px) {
			margin: 0.5em 0;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	&__icon {
		flex-shrink: 0;
		display: none;
		min-width: 16px;
		width: 16px;
		min-height: 16px;
		height: 16px;
		margin-bottom: 1px;
		margin-right: 5px;
		fill: var(--text-primary);
		stroke: var(--text-primary);
	}

	&__result {
		font-weight: 600;
		font-size: 14px;
		line-height: 120%;
		color: var(--gray30-color);
		text-transform: uppercase;

		@media screen and (max-width: 991.98px) {
			display: none;
		}
	}
}

.js-accordion-info,
.js-product-filter .product_filter_btn_exec {
	display: none;
}
.product-filter {
	@media screen and (max-width: 991.98px) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1100;
		display: none;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		padding-top: 40px;
		background-color: rgba(#E9EBEE, .5);
	}

	@media screen and (max-width: 767.98px) {
		background-color: #F4F5F7;
	}

	&.open {
		@media screen and (max-width: 991.98px) {
			display: flex;
			animation: product-filter-open 1 .3s;
		}

		@media screen and (max-width: 767.98px) {
			display: block;
		}
	}


	&__btn-close {
		display: none;

		@media screen and (max-width: 991.98px) {
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
		}

		span {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 20px;
			height: 20px;
			font-size: 0;
			background-color: #F4F5F7;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 100%;
				height: 2px;
				background-color: #33333D;
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}
	}


	&__content {
		padding: 30px 20px 30px 25px;
		background-color: #fff;
		border-radius: 12px;
		border: 1px solid #E9EBEE;
		box-shadow:
			0 10px 20px rgba(0, 0, 0, .04),
			0 2px 6px rgba(0, 0, 0, .04),
			0 0 1px rgba(0, 0, 0, .04);

		@media screen and (max-width: 991.98px) {
			width: 300px;
		}

		@media screen and (max-width: 767.98px) {
			width: initial;
			flex-grow: 1;
		}

		&-wrap {
			@media screen and (max-width: 991.98px) {
				position: relative;
				padding: 0 12px 12px 12px;
				height: 100%;
				overflow-y: auto;
			}
		}
	}


	&__categories {
		padding-bottom: 15px;
		margin-bottom: 30px;
		border-bottom: 1px solid #E9EBEE;
	}


	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}


	&__title {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		line-height: 120%;
		text-transform: uppercase;
		color: inherit;

		svg {
			margin-right: 5px;
			transform: translateY(-2px);
		}
	}


	&__btn-reset {
		display: inline-flex;
		align-items: center;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		text-transform: uppercase;
		color: #8B98A7;

		svg {
			margin-left: 10px;
		}
	}


	&__section {
		margin-top: 21px;

		&--row {
			display: flex;
			flex-wrap: wrap;

			.product-filter__field {
				margin-right: 7px;
			}

			.product-filter__icon-checkbox {
				margin-right: 10px;
			}
		}
	}


	&__accordion-btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-weight: 700;
		font-size: 16px;
		line-height: 120%;

		span {
			text-align: left;
		}

		&.js-accordion-btn--active {
			&:after {
				transform: rotate(180deg);
			}
		}

		&:after {
			content: '';
			display: block;
			width: 12px;
			height: 6px;
			background-image: url('../img/icon-accordion-filter.svg');
		}
	}


	&__field {
		margin-top: 13px;
	}


	&__label {
		display: inline-flex;
		align-items: center;
		font-weight: 700;
		cursor: pointer;
	}


	&__checkbox {
		display: none;

		&:disabled + .product-filter__icon-checkbox {
			background-color: #EFF2F7;
		}

		&:checked + .product-filter__icon-checkbox {
			background-image: url('../img/icon-check.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-color: #1F2D3D;
			border-color: #1F2D3D;
		}
	}


	&__icon-checkbox {
		width: 16px;
		height: 15px;
		margin-right: 14px;
		border: 1px solid #8B98A7;
		border-radius: 5px;
		transform: translateY(-1px);
	}


	&__text {
		font-size: 14px;
		line-height: 100%;
		color: #8B98A7;
		width: calc(100% - 30px);
	}


	@keyframes product-filter-open {
		from {
			transform: translateY(-50px);
			opacity: .5;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.range {
	position: relative;
	padding-bottom: 10px;

	&__values {
		display: flex;
		margin-left: -5px;
		margin-right: -5px;
		margin-top: 20px;
		margin-bottom: 15px;

		&-wrap {
			padding-left: 5px;
			padding-right: 5px;
			width: 50%;
		}
		&-item {
			position: relative;
		}
	}
	&__input {
		font-family: 'Nunito Sans', sans-serif;
		width: 100%;
		height: 28px;
		border: 1px solid #D3DCE6;
		border-radius: 5px;
		background: #ffffff;
		text-align: right;
		font-size: 14px;
		color: #253340;
		padding: 0 25px 0 30px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		@media screen and (max-width: 1199.98px) {
			padding-left : 15px;
			padding-right: 15px;
			font-size    : 12px;
		}
	}
	&-label {
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 14px;
		color: #253340;
		padding-top: 2px;

		@media screen and (max-width: 1199.98px) {
			font-size: 12px;
			right    : 5px;
		}

		&-text {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 14px;
			color: #C4C4C4;

			@media screen and (max-width: 1199.98px) {
				font-size: 12px;
				left     : 5px;
			}
		}
	}
	&__slider {
		width: 100%;
	}

	.noUi-target {
		background: #EFF2F7;
		border-radius: 5px;
		border: 0;
		box-shadow: none;
		height: 3px;
		cursor: pointer;
	}
	.noUi-connect {
		background: #0C4DB9;
	}
	.noUi-handle {
		&:before,
		&:after {
			display: none;
		}
	}
	.noUi-horizontal .noUi-handle {
		width: 14px;
		height: 14px;
		background: #ffffff;
		border-radius: 50%;
		cursor: pointer;
		border: 0;
		box-shadow: none;
		top: -6px;
		right: -6px;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
	}
	.noUi-horizontal .noUi-handle:before {
		content: '';
		display: block;
		background: #0C4DB9;
		width: 6px;
		height: 6px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		border-radius: 50%;
	}
}

.index-top {
	display: flex;
	flex-direction: column;
	gap: 16px 12px;

	.swiper {
		border-radius: var(--bradius);
		color: var(--gray10-color);

		&-slide {
			min-width: 100%;
			width: 100%;
			border-radius: var(--bradius);
			background-color: var(--gray0-color);
			color: var(--gray20-color);

			picture {
				overflow: hidden;
			}
			picture,
			img,
			.image {
				min-width: 100%;
				width: 100%;
				border-radius: var(--bradius);
			}
		}
	}
	&-primary {
		min-width: 100%;
		width: 100%;

		.swiper {
			&-slide {
				img,
				.image {
					min-height: calc((100vw - 24px) * 0.68);
					height: calc((100vw - 24px) * 0.68);
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.index-top {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px 20px;

		&-primary {
			.swiper {
				img,
				.image {
					min-height: calc((100vw - 64px) * 0.32);
					height: calc((100vw - 64px) * 0.32);
				}
			}
		}
	}
}
@media (min-width: 1600px) {
	.index-top {
		&-primary,
		&-secondary {
			.swiper {
				img,
				.image {
					min-height: calc(((1536px * 0.73) - 20px) * 0.32);
					height: calc(((1536px * 0.73) - 20px) * 0.32);
				}
			}
		}
		&-primary {
			min-width: calc((1536px * 0.73) - 20px);
			width: calc((1536px * 0.73) - 20px);
		}
		&-secondary {
			min-width: calc(100% - (1536px * 0.73));
			width: calc(100% - (1536px * 0.73));
		}
	}
}
@media (max-width: 1199.98px) {
	.index-top {
		&-secondary {
			display: none;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.index-top {
		&-primary {
			.swiper {
				img,
				.image {
					min-height: calc((100vw - 24px) * 0.32);
					height: calc((100vw - 24px) * 0.32);
				}
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1599.98px) {
	.index-top {
		&-primary,
		&-secondary {
			.swiper {
				img,
				.image {
					min-height: calc((((100vw - 64px) * 0.73) - 20px) * 0.32);
					height: calc((((100vw - 64px) * 0.73) - 20px) * 0.32);
				}
			}
		}
		&-primary {
			min-width: calc(((100vw - 64px) * 0.73) - 20px);
			width: calc(((100vw - 64px) * 0.73) - 20px);
		}
		&-secondary {
			min-width: calc(100% - ((100vw - 64px) * 0.73));
			width: calc(100% - ((100vw - 64px) * 0.73));
		}
	}
}

.achievements {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;

	&__item {
		display: flex;
		flex: unset;
		flex-direction: row;
		gap: 8px;
		min-width: calc((100% - 12px) / 2);
		width: calc((100% - 12px) / 2);
		overflow: hidden;
		border-radius: var(--bradius);
	}
	&__view {
		display: flex;
		align-items: center;
		background-color: transparent;

		.icon,
		img,
		.image {
			min-width: 115px;
			width: 115px;
			min-height: 76px;
			height: 76px;
		}
	}
	&__descr {
		gap: 2px;
	}
	&__title {
		font-weight: 900;
		text-transform: uppercase;
	}
	&__text-content {
		color: var(--gray20-color);
	}
}
@media (min-width: 992px) {
	.achievements {
		display: grid;
		gap: 12px 20px;

		&__item {
			min-width: 100%;
			width: 100%;
			gap: 16px;
			padding: 24px;
		}
		&__descr {
			gap: 8px;
		}
		&__title {
			font-size: 20px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
			&-iso {
				display: none;
			}
		}
		&__text-content {
			font-size: 13px;
		}
	}
}
@media (min-width: 1200px) {
	.achievements {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 1199.98px) {
	.achievements {
		&__item {
			&--company {
				display: none;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.achievements {
		&__item {
			flex-direction: column;
			padding: 16px;
		}
		&__view {
			order: 0;
			margin: 0 auto;
		}
		&__descr {
			order: 10;
			flex-direction: column;
		}
		&__title {
			font-size: 14px;

			&-iso {
				display: flex;
				color: var(--gray20-color);
				font-weight: 400;
				font-size: 12px;
			}
		}
		&__text-content {
			display: none;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.achievements {
		grid-template-columns: repeat(2, 1fr);
	}
}

.catalog-index {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__item {
		display: flex;
		gap: 12px;
		min-width: 100%;
		width: 100%;
		overflow: hidden;
	}
	&__descr {
		display: flex;
		align-items: center;
	}
	&__heading {
		font-weight: 900;
		line-height: 1.2;
	}
	&__list {
		&-link {
			display: inline-flex;
			color: var(--gray30-color);
			line-height: 1.2;
		}
	}
}
@media (min-width: 768px) {
	.catalog-index {
		display: grid;

		&__view {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			border-radius: var(--bradius-xl);
			background-color: var(--gray0-color);

			img,
			.image {
				margin: 0 auto;
			}
		}
		&__descr {
			display: flex;
			flex: 1;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
		}
		&__heading {
			transition: var(--transition);

			&:hover,
			&:focus,
			&.active {
				color: var(--blue05-color);
			}
		}
		&__list {
			display: flex;
			flex-direction: column;
			gap: 6px;

			&:not(:last-child) {
				margin-bottom: unset;
			}

			&-item {
				display: flex;
			}
			&-link {
				font-size: 14px;

				&:hover,
				&:focus,
				&.active {
					color: var(--text-primary);
				}
			}
		}
		&__more {
			color: var(--blue05-color);
			font-weight: 700;
			font-size: 12px;
			line-height: 1.2;
			transition: var(--transition);

			&:hover,
			&:focus,
			&.active {
				color: var(--blue10-color);
			}
		}
	}
}
@media (min-width: 992px) {
	.catalog-index {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1200px) {
	.catalog-index {
		&__item {
			gap: 24px;
		}
	}
}
@media (min-width: 1440px) {
	.catalog-index {
		gap: 48px 64px;

		&__view {
			min-width: 156px;
			width: 156px;
			min-height: 156px;
			height: 156px;

			img,
			.image {
				min-width: 100px;
				width: 100px;
				min-height: 78px;
				height: 78px;
			}
		}
		&__heading {
			font-size: 18px;
		}
	}
}
@media (max-width: 767.98px) {
	.catalog-index {
		&__item {
			padding-right: 16px;
			padding-left: 16px;
			border-radius: var(--bradius-xl);
			background-color: var(--gray0-color);
		}
		&__view {
			order: 10;

			&,
			img,
			.image {
				min-width: 100px;
				width: 100px;
				min-height: 64px;
				height: 64px;
			}
		}
		&__descr {
			order: 0;
			flex: 1;
			padding-top: 8px;
			padding-bottom: 8px;
		}
		&__heading {
			font-size: 12px;
		}
		&__list {
			display: none;
		}
		&__more {
			display: none;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.catalog-index {
		grid-template-columns: repeat(2, 1fr);
		gap: 32px 80px;
	}
}
@media (min-width: 768px) and (max-width: 1439.98px) {
	.catalog-index {
		&__view {
			min-width: 116px;
			width: 116px;
			min-height: 116px;
			height: 116px;

			img,
			.image {
				min-width: 80px;
				width: 80px;
				min-height: 62px;
				height: 62px;
			}
		}
		&__heading {
			font-size: 16px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.catalog-index {
		&__item {
			flex-direction: column;
			gap: 12px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1439.98px) {
	.catalog-index {
		gap: 40px 80px;
	}
}

.index-banner-link {
	display: flex;
}

.partner-slider {
	.swiper {
		&-slide {
			display: flex;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 100%;
		width: 100%;
		min-height: 76px;
		height: 76px;
		padding: 16px 12px;
		border: 1px solid var(--gray0-color);
		border-radius: var(--bradius);
		background-color: var(--white-color);
		text-decoration: none;

		img,
		.image {
			display: flex;
			min-width: unset;
			max-width: 100%;
			width: auto;
			max-height: 100%;
			border-radius: var(--bradius-sm);
			object-fit: contain;
		}
	}
}
@media (min-width: 1200px) {
	.partner-slider {
		&__link {
			min-height: 168px;
			height: 168px;
			padding: 32px;
		}

	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.partner-slider {
		&__link {
			min-height: 112px;
			height: 112px;
		}

	}
}

.offers-slider {
	.swiper {
		&-slide {
			display: flex;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 100%;
		width: 100%;
		border-radius: var(--bradius);
		overflow: hidden;
		background-color: var(--white-color);
		text-decoration: none;

		picture {
			justify-content: center;
			align-items: center;
			transition: var(--transition);
		}
	}
}

.interaction {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;

	&-banner {
		position: relative;
		overflow: hidden;
		border-radius: var(--bradius-xl);
		background: linear-gradient(147deg, #73ADD8 8.55%, #47A4E1 78.62%);

		&__bgi {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			width: 100%;
			min-height: 100%;
			height: 100%;

			picture {
				justify-content: flex-end;
				align-items: flex-end;
				min-height: 100%;
				height: 100%;
			}
			img,
			.image {
				display: block;
				max-width: 100%;
				min-width: 0;
				width: 100%;
				min-height: 0;
				height: 100%;
				object-fit: contain;
				object-position: right bottom;
			}
		}
		&-info {
			z-index: 2;
			position: relative;
			padding: 25px 20px 20px;

			&__title {
				padding-bottom: 6px;
				color: var(--white-color);
				font-style: italic;
				font-weight: 900;
				font-size: 16px;
				line-height: 1.3;
				letter-spacing: 1px;
				text-transform: uppercase;

				.accent {
					display: block;
					font-weight: 800;
				}
			}
			&__subtitle {
				max-width: 180px;
				width: 100%;
				padding-bottom: 92px;
				color: var(--white-color);
				font-weight: 600;
				font-size: 12px;
				line-height: 1.3;
				letter-spacing: 1px;
			}
			&__cta {
				min-width: 160px;
				width: 160px;

				.btn {
					min-width: 100%;
					width: 100%;
				}
			}
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 12px 20px;
	}
	&__item {
		position: relative;
		display: flex;
		min-width: 100%;
		width: 100%;
		border-radius: var(--bradius-xl);

		&--pay {
			background: linear-gradient(100deg, #FFE9E1 17.99%, #E9DDDA 87.06%);

			.interaction__tag-list {
				max-width: 350px;
			}
		}
		&--additional {
			background: linear-gradient(98deg, #FFEDB6 15.21%, #FEDE94 90.86%);

			.interaction__tag-list {
				max-width: 350px;
			}
		}
		&--delivery {
			background: linear-gradient(98deg, #F3F3F3 15.21%, #F7FBEF 90.86%);
		}
	}
	&__view {
		z-index: 1;
		position: absolute;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-width: 100%;
		width: 100%;
		min-height: 100%;
		height: 100%;

		picture {
			min-height: 100%;
			height: 100%;

			&,
			img {
				min-width: unset;
				width: auto;
			}
		}
		img,
		.image {
			max-width: 100%;
			width: 122px;
			max-height: 100%;
			object-fit: contain;
		}
	}
	&__descr {
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 24px 20px 16px;
	}
	&__heading {
		margin-bottom: 40px;
	}
	&__title {
		margin-bottom: 2px;
		font-weight: 900;
		font-size: 16px;
		line-height: 1.6;
		text-transform: uppercase;
	}
	&__subtitle {
		max-width: 200px;
		width: 100%;
		color: rgba(51, 51, 61, 0.7);
		font-size: 12px;
		line-height: 1.3;
	}
	&__tag-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		min-width: 100%;
		width: 100%;
	}
	&__more {
		min-width: 160px;
		width: 160px;

		.btn {
			min-width: 100%;
			width: 100%;
		}
	}
}
@media (min-width: 576px) {
	.interaction {
		&-banner {
			&__descr {
				padding: 25px 20px 26px 30px;
			}
			&__heading {
				padding-bottom: 15px;
			}
			&__title {
				padding-bottom: 7px;
				font-size: 20px;
			}
			&__subtitle {
				max-width: 240px;
				font-size: 16px;
			}
		}
	}
}
@media (min-width: 768px) {
	.interaction {
		&-banner {
			&__cta {
				min-width: 200px;
				width: 200px;
			}
		}
		&__list {
			gap: 20px;
		}
		&__heading {
			margin-bottom: 16px;
		}
		&__title {
			font-size: 20px;
			margin-bottom: 8px;
		}
		&__subtitle {
			font-size: 16px;
		}
		&__more {
			display: none;
		}
	}
}
@media (min-width: 992px) {
	.interaction {
		&-banner {
			&-info {
				&__subtitle {
					max-width: 450px;
					padding-bottom: 19px;
					font-size: 18px;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.interaction {
		&-banner {
			&-info {
				&__title {
					font-size: 45px;
				}
			}
		}
		&__item {
			min-width: calc((100% - 40px) / 3);
			width: calc((100% - 40px) / 3);
		}
		&__view {
			img,
			.image {
				width: 172px;
			}
		}
	}
}
@media (min-width: 1440px) {
	.interaction {
		&-banner {
			&-info {
				padding: 32px 71px 31px;
			}
		}
		&__item {
			&--delivery {
				.interaction__tag-list {
					width: calc(100% + 20px);
					margin-right: -20px;
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.interaction {
		&__tag-list {
			display: none;
		}
	}
}
@media (max-width: 575.98px) {
	.interaction {
		&-banner {
			&__bgi {
				img,
				.image {
					max-width: 375px;
				}
			}
		}
	}
}
@media (min-width: 576px) and (max-width: 991.98px) {
	.interaction {
		&-banner {
			&-info {
				padding: 30px 30px 32px;
			}
		}
		&__view {
			img,
			.image {
				width: 148px;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.interaction {
		&-banner {
			&-info {
				&__title {
					font-size: 25px;
				}
				&__subtitle {
					max-width: 310px;
					font-size: 14px;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.interaction {
		&__item {
			&--pay {
				order: 1;
			}
			&--additional {
				order: 3;
				min-width: 100%;
				width: 100%;

				.interaction__tag-list {
					flex-direction: row;
					flex-wrap: wrap;
					max-width: 480px;
				}
			}
			&--delivery {
				order: 2;
			}
			&--pay,
			&--delivery {
				min-width: calc((100% - 20px) / 2);
				width: calc((100% - 20px) / 2);
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.interaction {
		&-banner {
			&-info {
				padding: 43px 30px 39px;

				&__title {
					font-size: 35px;
				}
			}
		}
		&__view {
			img,
			.image {
				width: 230px;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1439.98px) {
	.interaction {
		&-banner {
			&-info {
				padding: 30px;
			}
		}
	}
}

.load {
	display: flex;
	flex-direction: column;
	gap: 12px 20px;

	&__item {
		display: flex;
	}
	&__link {
		display: flex;
		flex-direction: column;
		gap: 8px;
		min-width: 100%;
		width: 100%;
		padding: 12px;
		border: 1px solid var(--gray0-color);
		border-radius: var(--bradius);
		background-color: var(--white-color);
		text-decoration: none;

		&:hover,
		&:focus,
		&.active {
			box-shadow: var(--shadow-section1);
		}
	}
	&__view {
		overflow: hidden;
		border-radius: var(--bradius);

		.image {
			min-width: 100%;
			width: 100%;
			min-height: 240px;
			height: 240px;
			object-fit: cover;
		}
	}
	&__descr {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 16px;
	}
	&__title {
		flex: 1;
		font-weight: 500;
	}
	&__caption {
		color: var(--text-secondary);
	}
}
@media (min-width: 992px) {
	.load {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.payment {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;
	padding: 20px 35% 20px 20px;
	min-height: 180px;
	overflow: hidden;
	border-radius: var(--bradius);

	&__bgi {
		z-index: 0;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		img,
		.image {
			min-width: 120px;
			width: 32vw;
			max-width: 180px;
		}
	}
	&__descr {
		z-index: 1;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 8px;
	}
	&__title {
		font-weight: 900;
		text-transform: uppercase;
	}
	&__cta {
		display: flex;
		gap: 8px 12px;

		&-more {
			min-width: 190px;
		}
	}
}
@media (min-width: 992px) {
	.payment {
		gap: 24px;
		padding: 32px 25% 32px 32px;

		&__descr {
			gap: 12px;
		}
		&__cta {
			&-more {
				display: none;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.payment {
		&__cta {
			.btn:not(.payment__cta-more) {
				display: none;
			}
		}
	}
}