// базовые подключения
@use "vars";
@use "fonts";
@use "./vendors/normalize";
@use "./helpers/ui";
@use "../../node_modules/@fancyapps/ui/dist/fancybox";
@use "../../node_modules/select2/dist/css/select2";
@use "../../node_modules/swiper/swiper-bundle";
@use "../../node_modules/flatpickr/dist/flatpickr";
@use "settings";

// подключения компонентов страницы
@use "./components/header";
@use "./components/footer";

.main {
	position: relative;
	flex: 1;
	min-width: 375px;
	padding-top: 125px;
	overflow: hidden;
}
@media (min-width: 1200px) {
	.main {
		padding-top: 212px;
	}
}

// content-page
/*.cp {
	&-heading {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 4px;

		&__placeholder {
			color: var(--gray40-color);
		}
		&__back {
			display: inline-flex;
			align-items: center;

			&-link {
				display: inline-flex;
				align-items: center;
				gap: 4px;
				line-height: 20px;

				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
					fill: var(--text-primary);
					stroke: var(--text-primary);
				}
			}
		}
		&__msg {
			margin-bottom: 24px;
			font-size: 14px;
		}
	}

	&-sidebar {
		display: flex;
		flex-direction: column;
		gap: 24px;

		&__item {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		&__heading {
			font-weight: 600;
		}
		&__title {
			font-weight: 600;
			font-size: 14px;
		}
		&__list {
			display: flex;
			flex-direction: column;
			gap: 16px;

			&-item {
				display: flex;
				line-height: 20px;
			}
		}
		&__link {
			color: var(--text-primary);
			line-height: 20px;
			transition: var(--transition);

			.cp-sidebar__link-content {
				vertical-align: bottom;
			}
			.stock {
				font-weight: 500;
				font-size: 11px;
				color: var(--gray30-color);
			}

			&:hover,
			&.active {
				color: var(--green10-color);

				.stock {
					color: var(--gray30-color);
				}
			}

			&.subcategory-active {
				color: var(--text-primary);
				font-weight: 600;
			}
		}

		&-filter {
			&__selection {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			&__options {
				display: flex;
				flex-direction: column;
				gap: 24px;

				&-item {
					display: flex;
					flex-direction: column;
					gap: 16px;
				}
			}
			&__range {
				display: flex;
				gap: 8px;
				min-width: 100%;
				width: 100%;

				&-item {
					flex: 1;
					min-width: calc((100% - 8px) / 2);
					width: calc((100% - 8px) / 2);
				}
			}
			&__cta {
				display: flex;
				gap: 12px;
			}
		}
	}

	&-item {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&--frame {
			padding: 11px 15px;
			border: 1px solid var(--gray1-color);
			border-radius: var(--bradius);
		}
	}
	&-label {
		display: flex;
		flex-direction: row;
		gap: 12px;

		&-icon {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
			fill: var(--green10-color);
			stroke: var(--green10-color);
		}
		&-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;
		}
	}
	&-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&-list {
		padding-left: 22px;

		li {
			position: relative;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}

		@at-root {
			ul#{&} {
				li {
					&::before {
						content: "";
						position: absolute;
						top: 8px;
						left: -18px;
						min-width: 6px;
						width: 6px;
						min-height: 6px;
						height: 6px;
						border-radius: 1px;
						background-color: var(--green0-color);
					}
				}
			}
			ol#{&} {
				counter-reset: item;

				li {
					&::before {
						content: counter(item) ".";
						counter-increment: item;
						position: absolute;
						top: 2px;
						left: -22px;
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
						color: var(--text-secondary);
						font-weight: 600;
						font-size: 13px;
						line-height: 1;
					}
				}
			}
		}
		&-default {
			@at-root {
			    ul#{&} {
			        li {
			            &::before {
			                content: "";
			                position: absolute;
							top: 10px;
							left: -13px;
							min-width: 4px;
							width: 4px;
							min-height: 4px;
							height: 4px;
							border-radius: 50%;
			                background-color: var(--text-primary);
			            }
			        }
			    }
			}
		}
	}
	&-gaps {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 12px;

		.icon,
		.image,
		img {
			min-width: 20px;
			width: 20px;
			min-height: 20px;
			height: 20px;
		}
		.icon {
			fill: var(--green10-color);
			stroke: var(--green10-color);
		}
	}
	&-image {
		display: flex;

		.image {
			min-width: 100%;
			width: 100%;
			height: auto;
			aspect-ratio: 16/9;
			border-radius: var(--bradius);
		}

		&-double,
		&-triple {
			flex-direction: column;
			gap: 16px;
		}
		&-double {
			.image {
				min-width: 100%;
				width: 100%;
				height: auto;
				aspect-ratio: 16/9;
				border-radius: var(--bradius);
			}
		}
		&-triple {
			.image {
				min-width: 100%;
				width: 100%;
				height: auto;
				aspect-ratio: 16/9;
				border-radius: var(--bradius);
			}
		}
	}
	&-wholesale {
		gap: 24px;

		&.cp-item {
			padding: 15px;
		}
		&__descr {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		&__title {
			font-weight: 500;
			font-size: 17px;
		}
		&__info {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: flex-end;
			gap: 8px;
			color: var(--gray40-color);
		}
		&__contacts {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
		}
		&__cta {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 8px;
		}
		&__form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;

			&-agree {
				color: var(--text-secondary);
				font-weight: 500;
				font-size: 11px;
			}
		}
	}

	&-content {
		&__top {
			display: flex;
			gap: 24px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		&__category {
			&-link {
				display: flex;
				align-items: center;
				min-height: 36px;
				height: 36px;
				padding-right: 12px;
				padding-left: 12px;
				border-radius: var(--bradius);
				background-color: var(--gray1-color);
				color: var(--text-primary);
				line-height: 20px;
				transition: var(--transition);

				&:hover,
				&.active {
					color: var(--green10-color);
				}
			}
		}
		&__banner {
			display: flex;
			justify-content: center;
			align-items: center;

			img,
			.image {
				min-width: 100%;
				width: 100%;
				height: auto;
				border-radius: 8px;
			}
		}
		&__settings {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		}
		&__sort {
			position: relative;

			&-select {
				position: relative;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
				min-height: 44px;
				height: 44px;
				padding-right: 15px;
				padding-left: 15px;
				border: 1px solid var(--gray21-color);
				border-radius: var(--bradius);
				background-color: var(--white-color);
				color: var(--text-primary);
				line-height: 24px;
				cursor: pointer;
				transition: var(--transition);

				.icon,
				.text-content {
					pointer-events: none;
					user-select: none;
				}
				.icon {
					min-width: 10px;
					width: 10px;
					min-height: 10px;
					height: 10px;
					fill: var(--text-primary);
					stroke: var(--text-primary);
				}
				.text-content {
					white-space: nowrap;
				}
				&:hover,
				&.active {
					border-color: var(--text-primary);
				}
			}
			&-label {
				display: flex;
				overflow: hidden;
				background-color: transparent;
				color: var(--text-primary);
				line-height: 20px;
				white-space: nowrap;
				cursor: pointer;
				transition: var(--transition);

				&:hover,
				&.active {
					color: var(--green10-color);
				}
			}
		}
		&__filter {
			&-spoiler {
				&-count {
					z-index: 1;
					position: absolute;
					top: -7px;
					right: -7px;
					display: flex;
					justify-content: center;
					align-items: center;
					min-width: 18px;
					min-height: 18px;
					height: 18px;
					padding-right: 4px;
					padding-left: 4px;
					border: 2px solid var(--white-color);
					border-radius: 18px;
					background-color: #7F091D;
					color: var(--white-color);
					font-weight: 800;
					font-size: 9px;
				}
			}
		}
		&__item {
			&:last-child {
				margin-bottom: unset!important;
			}
		}
	}

	&-details {
		.cp {
			&-heading {
				&__title,
				&__back {
					min-width: 100%;
					width: 100%;
				}
				&__title {
					order: 5;
				}
				&__back {
					order: 0;
				}
			}
		}

		&__preview {
			.image {
				min-width: 100%;
				width: 100%;
				max-height: 165px;
				border-radius: var(--bradius);
			}
		}

		&__nav {
			display: flex;
			flex-direction: column;
			gap: 20px;

			&-item {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
			&-next {
				.cp-details__nav-link-pointer {
					.icon {
						order: 5;
					}
					.text-content {
						order: 0;
					}
				}
			}
			&-link-pointer {
				display: flex;
				align-items: center;
				gap: 4px;

				.icon {
					min-width: 16px;
					width: 16px;
					min-height: 16px;
					height: 16px;
				}
			}
			&-title {
				font-weight: 600;
				font-size: 14px;
			}
		}
	}
}
@media (min-width: 992px) {
	.cp {
		display: flex;
		gap: 40px;
		padding-top: 28px;

		&-heading {
			gap: 8px;

			&__back {
				&-link {
					.icon {
						min-width: 20px;
						width: 20px;
						min-height: 20px;
						height: 20px;
					}
				}
			}
			&__msg {
				margin-bottom: 20px;
				font-size: 15px;
			}
		}

		&-sidebar {
			min-width: 284px;
			width: 284px;

			&-nav {
				gap: 40px;
			}
			&__item {
				gap: 12px;
			}
			&__top {
				padding-bottom: 24px;
				border-bottom: 1px solid var(--gray1-color);
			}
			&__title {
				font-size: 15px;
			}
			&__list {
				gap: 12px;
			}
			&__link {
				.stock {
					font-size: 12px;
				}
			}

			&-category {
				.spoiler-trigger,
				.cp-sidebar__list {
					padding-left: 24px;
				}
			}

			&-filter {
				&__header {
					display: none;
				}
				&__options {
					&-item {
						gap: 12px;
					}
				}
				&__cta {
					flex-direction: column;

					.btn {
						min-width: 100%;
						width: 100%;
					}
				}
			}
		}
		&-sidebar ~ .cp-content {
			min-width: calc(100% - 284px - 40px);
			width: calc(100% - 284px - 40px);
		}

		&-item {
			gap: 16px;

			&--frame {
				padding: 19px 23px;
			}
		}
		&-image {
			&-double,
			&-triple {
				flex-wrap: wrap;
				gap: 20px;
			}
			&-double {
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				.image {
					min-height: 400px;
					height: 400px;
				}
			}
			&-triple {
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				.image {
					min-height: 250px;
					height: 250px;
				}
			}
		}
		&-label {
			gap: 20px;

			&-icon {
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
			}
			&-content {
				gap: 20px;
			}
		}
		&-wholesale {
			flex-direction: row;
			gap: 40px;

			&.cp-item {
				padding: 27px 31px;
			}
			&__descr {
				gap: 20px;
			}
			&__title {
				font-size: 18px;
			}
			&__info {
				gap: 16px;
			}
			&__cta {
				min-width: 380px;
				width: 380px;
			}
			&__form {
				&-agree {
					font-size: 12px;
				}
			}
		}

		&-content {
			min-width: 100%;
			width: 100%;

			&__top {
				flex-direction: column;
			}
			&__category {
				display: none;
			}
			&__banner {
				order: 20;
			}
			&__settings {
				order: 10;
			}
			&__sort {
				display: flex;
				align-items: center;
				gap: 20px;
				min-width: 100%;
				width: 100%;

				&-select {
					display: none;
				}
				&-options {
					display: flex;
					gap: 20px;
				}
				&-label {
					color: var(--text-secondary);
				}
			}
			&__filter {
				&-spoiler {
					display: none;
				}
				&-selected {
					order: 0;
					display: flex;
					flex-wrap: wrap;
					gap: 4px;

					&-item {
						gap: 2px;
						min-height: 28px;
						height: 28px;
						padding-right: 11px;
						padding-left: 11px;
						font-weight: 500;
						cursor: pointer;

						.cp-content__filter-selected-delete {
							margin-right: -6px;

							.icon {
								min-width: 16px;
								width: 16px;
								min-height: 16px;
								height: 16px;
								fill: var(--gray40-color);
								stroke: var(--gray40-color);
							}
						}

						&:hover,
						&.active {
							.cp-content__filter-selected-delete {
								.icon {
									fill: var(--white-color);
									stroke: var(--white-color);
								}
							}
						}
					}
					&-extra {
						color: var(--gray21-color);
						font-weight: 600;
					}
				}
			}

			&-sidebar {
				display: none;
			}
		}

		&-details {
			max-width: 1056px;
			margin-right: auto;
			margin-left: auto;

			.cp {
				&-heading {
					gap: 12px;
				}

				&-content {
					flex: unset;
					min-width: 100%;
					width: 100%;
				}
			}

			&__preview {
				.image {
					max-height: 500px;
				}
			}

			&__nav {
				flex-direction: row;
				justify-content: space-between;

				&-item {
					gap: 8px;
					min-width: 305px;
					width: 305px;
				}
				&-next {
					align-items: flex-end;

					.cp-details__nav-title {
						text-align: right;
					}
				}
				&-title {
					font-size: 15px;
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.cp {
		&-heading {
			padding-bottom: 16px;

			&__title,
			&__placeholder {
				min-width: 100%;
				width: 100%;
			}
			&__title {
				order: 5;
			}
			&__placeholder {
				order: 15;
			}
			&__back {
				order: 0;
				min-width: 100%;
				width: 100%;
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}

		&-sidebar {
			z-index: 1010;
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding: 8px 12px 108px;
			overflow: auto;
			background-color: var(--white-color);
			transition: var(--transition);

			&::-webkit {
				&-scrollbar,
				&-scrollbar-track,
				&-scrollbar-thumb {
					min-width: 4px;
					width: 4px;
				}
				&-scrollbar,
				&-scrollbar-track {
					background-color: transparent;
				}
				&-scrollbar-button {
					display: none;
				}
				&-scrollbar-thumb {
					border-radius: 2px;
					background-color: var(--gray40-color);
				}
			}
			&:not(.active) {
				top: 100vh;
			}
			&.active {
				top: 0;

				.cp-sidebar-filter {
					&__cta {
						position: fixed;
						right: 0;
						bottom: 0;
						left: 0;
					}
				}
			}

			&:not([data-filter]) {
				display: none;
			}

			&-category {
				display: none;
			}

			&-filter {
				&__header {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 12px;
					margin-bottom: -8px;
				}
				&__close {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 6px;

					.icon {
						min-width: 32px;
						width: 32px;
						min-height: 32px;
						height: 32px;
					}
				}
				&__cta {
					flex-wrap: wrap;
					padding: 12px 12px 20px;
					box-shadow: var(--shadow-bar0), var(--shadow-bar1);
					background-color: var(--white-color);

					.btn {
						min-width: calc((100% - 12px) / 2);
						width: calc((100% - 12px) / 2);
					}
				}
			}
		}

		&-column {
			&--sm {
				gap: 8px;
			}
		}

		&-content {
			&__top {
				flex-direction: column;
			}
			&__banner {
				margin-right: calc(var(--container-offset) * -1);
				margin-left: calc(var(--container-offset) * -1);
			}
			&__sort {
				&-title {
					display: none;
				}
				&-options {
					z-index: 100;
					position: absolute;
					min-width: 100%;
					padding: 4px 0;
					border-radius: var(--bradius);
					box-shadow: var(--shadow-popup1), var(--shadow-popup2);
					background-color: var(--white-color);

					&:not(.active) {
						display: none;
					}

					.cp-content__sort-label {
						min-height: 40px;
						height: 40px;
						padding: 10px 16px;
					}
				}
			}
			&__filter {
				&-selected {
					display: none;
				}
			}

			& .cp-content-sidebar {
				z-index: 1;
				position: static;
				inset: unset;
				display: flex;
				margin-right: calc(var(--container-offset) * -1);
				margin-left: calc(var(--container-offset) * -1);
				padding: 0 var(--container-offset);
				overflow: hidden;
			}
		}
	}
}*/

/*.catalog {
	&-detail {
		.cp-heading {
			&__cta {
				[data-favorites] {
					.icon {
						&.selected {
							fill: var(--red0-color);
							stroke: var(--red0-color);
						}
					}

					&:not(.active) {
						.icon {
							&.selected {
								z-index: -1;
								position: absolute;
								opacity: 0;
							}
						}
					}
					&.active {
						.icon {
							&:not(.selected) {
								z-index: -1;
								position: absolute;
								opacity: 0;
							}
						}
					}

					&:hover {
						background-color: var(--gray1-color);
					}
				}
			}
		}
		.cp-sidebar {
			gap: 20px;

			&__price-cart {
				gap: 12px;
				min-width: 100%;
				width: 100%;
			}
			.card {
				&__caption {
					display: flex;
					gap: 4px;
					font-size: 12px;

					&-view {
						display: flex;
						padding-top: 2px;
					}
					.icon {
						min-width: 16px;
						width: 16px;
						min-height: 16px;
						height: 16px;
						fill: var(--text-secondary);
						stroke: var(--text-secondary);
					}
					.text-content {
						color: var(--text-secondary);
					}
				}
				&__price {
					&:not(:last-child) {
						margin-bottom: unset;
					}
					.basic-tabs {
						gap: 12px;
					}
					.basic-tabs-content__content {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						gap: 8px;
					}
					&-current {
						font-size: 20px;
					}
					&-origin {
						font-size: 14px;
					}
				}
			}
			.cart-buy {
				flex-direction: column;
				align-items: stretch;
				gap: 12px;
			}
			.cart-quantity {
				&-input {
					width: auto;
				}
			}
			&__status {
				gap: 12px;

				.cp-sidebar__heading {
					font-size: 14px;
				}
				&-stock {
					display: flex;
					gap: 12px;

					&-view {
						display: flex;
						padding-top: 2px;
					}

					&.in-stock {
						.icon {
							fill: var(--green20-color);
							stroke: var(--green20-color);
						}
					}
					&.on-order {
						.icon {
							fill: var(--orange0-color);
							stroke: var(--orange0-color);
						}
					}
					&.out-stock {
						.icon {
							fill: var(--gray30-color);
							stroke: var(--gray30-color);
						}
					}
				}
				&-info {
					display: flex;
					flex-direction: column;
					gap: 8px;
					font-weight: 500;

					&-title {
						font-size: 13px;
					}
				}
				&-extra {
					display: flex;
					flex-direction: column;
					gap: 12px;
					font-weight: 500;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.catalog {
		&-category {
			.cp-sidebar__top {
				&-back {
					padding-top: 34px;
				}
			}
			.cp-heading {
				&__back {
					position: absolute;
					bottom: -48px;
					left: 0;
					min-width: 284px;
					width: 284px;

					&-link {
						span {
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
				}
			}
		}

		&-detail {
			.cp {
				position: relative;
				display: grid;
				grid-template-columns: calc(100% - 40px - 305px) 305px;

				&-heading {
					&__back {
						display: none;
					}
					&__cta {
						z-index: 1;
						position: absolute;
						top: -24px;
						right: 0;
						display: flex;
						justify-content: flex-end;
						min-width: 305px;
						width: 305px;
					}
				}
				&-content {
					grid-column: 1 / 2;
				}
				&-sidebar {
					position: static;
					z-index: 2;
					grid-column: 2 / 3;
					min-width: 305px;
					width: 305px;
					max-height: calc(100vh - 32px);

					&__item {
						padding: 20px 24px;
						border-radius: var(--bradius);
						box-shadow: var(--shadow-section0), var(--shadow-section1);
						background-color: var(--white-color);
					}
					&__price-cart {
						gap: 16px;

						.cart-quantity {
							max-width: unset;
						}
					}
					.card {
						&__price {
							.basic-tabs {
								gap: 16px;
							}
							.basic-tabs-content__content {
								display: flex;
								flex-direction: column;
								flex-wrap: unset;
								align-items: flex-start;
								gap: unset;
							}
							&-current {
								font-size: 32px;
								line-height: 1.3;
							}
							&-origin {
								font-size: 15px;
							}
						}
						&__caption {
							font-size: 13px;
						}
					}
					&__status {
						gap: 20px;

						.cp-sidebar__heading {
							font-size: 15px;
						}
						&-info {
							&-title {
								font-size: 14px;
							}
						}
					}

					&.cp-sidebar-float {
						position: fixed;
						top: 81px;
					}
				}
			}

			&-above {
				position: relative;
				z-index: 11;
				background-color: var(--white-color);

				&__clear-fix {
					padding-bottom: 40px;
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.catalog {
		&-detail {
			.cp-heading {
				padding-bottom: 8px;

				&__back {
					flex: 1;
					min-width: 0;
					width: auto;
				}
				&__cta {
					order: 20;

					.btn {
						min-width: 36px;
						width: 36px;
						min-height: 36px;
						height: 36px;
						padding-right: 7px;
						padding-left: 7px;
						border-color: var(--gray1-color);
						background-color: var(--gray1-color);
					}

					.text-content {
						display: none;
					}
				}
			}
			.cp-sidebar {
				&__price-cart {
					.card__cart {
						display: none;
					}
					.cart-quantity {
						max-width: unset;

						&-input {
							flex: 1;
						}
					}
				}
			}
		}
	}
}*/

/*.details {
	&-thumb-slider {
		&-wrapper {
			position: relative;
			overflow: hidden;
		}

		.swiper-slide {
			display: flex;
			justify-content: center;
			min-width: 100%;
			width: 100%;
			overflow: hidden;
			border-radius: var(--bradius);

			.image {
				min-width: 100%;
				width: 100%;
				min-height: 100%;
				height: 100%;
			}
		}
	}
}
@media (min-width: 992px) {
	.details {
		&-thumb-slider {
			min-height: 413px;
			height: 413px;

			&:not(:last-child) {
				margin-bottom: 12px;
			}

			.swiper-navigation,
			.swiper-pagination {
				display: none;
			}

			&-pointer {
				.swiper-slide {
					display: flex;
					min-width: 60px;
					width: 60px;
					min-height: 60px;
					height: 60px;
					padding: 2px;
					border: 1px solid transparent;
					border-radius: var(--bradius);
					transition: var(--transition);

					&-thumb-active {
						border-color: var(--gray50-color);
					}

					.image {
						min-width: 100%;
						width: 100%;
						min-height: 100%;
						height: 100%;
						border-radius: 4px;
					}

					&:hover {
						&:not(.swiper-slide-thumb-active) {
							border-color: var(--gray20-color);
						}
					}
				}

				.swiper-navigation {
					inset: 0;
					min-height: 60px;
					height: 60px;
					margin-top: unset;

					.swiper-button-prev,
					.swiper-button-next {
						bottom: 0;
						min-width: 36px;
						width: 36px;
						min-height: 60px;
						height: 60px;
						margin-top: unset;
						border: unset;
						border-radius: unset;
						box-shadow: unset;

						&:hover,
						&:focus,
						&.active {
							background-color: var(--white-color);

							.swiper-button-nav-wrapper {
								background-color: var(--gray1-color);
							}
						}
					}
					.swiper-button-prev {
						padding-right: 8px;
					}
					.swiper-button-next {
						padding-left: 8px;
					}
					.swiper-button-nav-wrapper {
						display: flex;
						justify-content: center;
						align-items: center;
						min-width: 28px;
						width: 28px;
						min-height: 60px;
						height: 60px;
						border-radius: var(--bradius);
						background-color: var(--white-color);
						transition: var(--transition);
					}
				}

				.swiper-button-disabled {
					opacity: 0;
				}
			}
		}
	}
}
@media (max-width: 991.98px) {
	.details {
		&-thumb-slider {
			padding-bottom: 20px;

			&-pointer {
				display: none;
			}
		}
	}
}*/

.index-top {
	display: flex;
	flex-direction: column;
	gap: 16px 12px;

	.swiper {
		border-radius: var(--bradius);

		&-slide {
			border-radius: var(--bradius);
			background-color: var(--gray0-color);
			color: var(--gray30-color);

			&::before {
				z-index: -1;
				position: absolute;
				inset: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			picture {
				overflow: hidden;
			}
			picture,
			img,
			.image {
				min-width: 100%;
				width: 100%;
				border-radius: var(--bradius);
			}
		}
	}
	&-primary {
		min-width: 100%;
		width: 100%;

		.swiper {
			&-slide {
				min-width: 344px;
				width: 344px;
				min-height: 258px;
				height: 258px;
				border-radius: var(--bradius);
			}
		}
	}
}
@media (min-width: 992px) {
	.index-top {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 32px 20px;

		&-primary {
			.swiper {
				&-slide {
					min-width: 100%;
					width: 100%;
					min-height: 340px;
					height: 340px;
				}
			}
		}
	}
}

.advantages {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;

	&-bg {
		position: relative;
		background-repeat: repeat;
		background-position: left top;
		background-size: contain;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		min-width: 100%;
		width: 100%;
	}
	&__item {
		display: flex;
		gap: 12px;
	}
	&__view {
		display: flex;

		&,
		.image {
			min-width: 60px;
			width: 60px;
			min-height: 60px;
			height: 60px;
		}
	}
	&__descr {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	&__title {
		font-weight: 700;
	}
}
@media (min-width: 992px) {
	.advantages {
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		&__view {
			&,
			.image {
				min-width: 80px;
				width: 80px;
				min-height: 80px;
				height: 80px;
			}
		}
	}
}

.catalog-index {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__item {
		display: flex;
		gap: 12px;
		min-width: 100%;
		width: 100%;
		overflow: hidden;
	}
	&__view {
		&,
		img,
		.image {
			min-width: 60px;
			width: 60px;
			min-height: 60px;
			height: 60px;
		}
	}
	&__descr {
		display: flex;
		align-items: center;
	}
	&__heading {}
	&__list {
		&-item {}
		&-link {}
	}
}
@media (min-width: 992px) {
	.catalog-index {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;

		&__item {
			gap: 20px;
		}
		&__view {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 132px;
			width: 132px;
			min-height: 132px;
			height: 132px;
			overflow: hidden;
			border: 16px solid var(--gray0-color);
			border-radius: var(--bradius);
			background-color: var(--gray0-color);
			transition: var(--transition);

			img,
			.image {
				min-width: 100px;
				width: 100px;
				min-height: 100px;
				height: 100px;
				border-radius: var(--bradius);
			}
		}
		&__descr {
			display: flex;
			flex: 1;
			flex-direction: column;
			align-items: flex-start;
			gap: 12px;
		}
		&__heading {
			transition: var(--transition);

			&:hover,
			&:focus,
			&.active {
				color: var(--blue10-color);
			}
		}
		&__list {
			display: flex;
			flex-direction: column;
			gap: 4px;

			&:not(:last-child) {
				margin-bottom: 12px;
			}

			&-item {
				display: flex;
			}
			&-link {
				display: inline-flex;
				color: var(--text-secondary);

				&:hover,
				&:focus,
				&.active {
					color: var(--text-primary);
				}
			}
		}
		&__more {
			color: var(--blue20-color);
			font-weight: 700;
			font-size: 13px;
			transition: var(--transition);

			&:hover,
			&:focus,
			&.active {
				color: var(--blue10-color);
			}
		}
	}
}
@media (max-width: 991.98px) {
	.catalog-index {
		&__item {
			border-radius: var(--bradius);
			background-color: var(--gray0-color);
		}
		&__view {
			order: 10;
		}
		&__descr {
			order: 0;
			flex: 1;
			padding: 8px 12px;
		}
		&__list {
			display: none;
		}
		&__more {
			display: none;
		}
	}
}

.partner-slider {
	.swiper {
		&-slide {
			display: flex;
			min-width: 120px;
			width: 120px;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 100%;
		width: 100%;
		min-height: 96px;
		height: 96px;
		padding: 16px;
		border: 1px solid var(--gray0-color);
		border-radius: var(--bradius);
		background-color: var(--white-color);
		text-decoration: none;

		picture {
			justify-content: center;
			align-items: center;
			overflow: hidden;
			transition: var(--transition);
		}
		picture,
		img,
		.image {
			border-radius: var(--bradius-sm);
		}

		&:hover,
		&:focus,
		&.active {
			border-color: var(--gray10-color);

			picture {
				transform: scale(1.06);
			}
		}
	}
}
@media (min-width: 992px) {
	.partner-slider {
		.swiper {
			&-slide {
				min-width: 200px;
				width: 200px;
			}
		}
		&__link {
			min-height: 160px;
			height: 160px;
			padding: 32px;
		}
	}
}

.offers-slider {
	.swiper {
		&-slide {
			display: flex;
			min-width: 344px;
			width: 344px;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: var(--bradius);
		overflow: hidden;
		background-color: var(--white-color);
		text-decoration: none;

		&,
		picture,
		img,
		.image {
			min-width: 344px;
			width: 344px;
			min-height: 258px;
			height: 258px;
		}
		picture {
			justify-content: center;
			align-items: center;
			transition: var(--transition);
		}

		&:hover,
		&:focus,
		&.active {
			picture {
				transform: scale(1.04);
			}
		}
	}
}

.load {
	display: flex;
	flex-direction: column;
	gap: 12px 20px;

	&__item {
		display: flex;
	}
	&__link {
		display: flex;
		flex-direction: column;
		gap: 8px;
		min-width: 100%;
		width: 100%;
		padding: 12px;
		border: 1px solid var(--gray0-color);
		border-radius: var(--bradius);
		background-color: var(--white-color);
		text-decoration: none;

		&:hover,
		&:focus,
		&.active {
			box-shadow: var(--shadow-section1);
		}
	}
	&__view {
		overflow: hidden;
		border-radius: var(--bradius);

		.image {
			min-width: 100%;
			width: 100%;
			min-height: 240px;
			height: 240px;
			object-fit: cover;
		}
	}
	&__descr {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 16px;
	}
	&__title {
		flex: 1;
		font-weight: 500;
	}
	&__caption {
		color: var(--text-secondary);
	}
}
@media (min-width: 992px) {
	.load {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.payment {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;
	padding: 20px 35% 20px 20px;
	min-height: 180px;
	overflow: hidden;
	border-radius: var(--bradius);

	&__bgi {
		z-index: 0;
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translateY(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		img,
		.image {
			min-width: 120px;
			width: 32vw;
			max-width: 180px;
		}
	}
	&__descr {
		z-index: 1;
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 8px;
	}
	&__title {
		font-weight: 900;
		text-transform: uppercase;
	}
	&__cta {
		display: flex;
		gap: 8px 12px;

		&-more {
			min-width: 190px;
		}
	}
}
@media (min-width: 992px) {
	.payment {
		gap: 24px;
		padding: 32px 25% 32px 32px;

		&__descr {
			gap: 12px;
		}
		&__cta {
			&-more {
				display: none;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.payment {
		&__cta {
			.btn:not(.payment__cta-more) {
				display: none;
			}
		}
	}
}
